<!--
  PolymerSolidLoginElement
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../properties-mixin/properties-mixin.html">

<dom-module id="polymer-solid-login-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <!-- note: the ::input is needed for observers -->
    <div style="display:inline-block;">
      <label style="vertical-align:top">{{solidServerLabel(lang)}}</label>
      <textarea id="solidServerTextArea" cols=30 rows=1 value="{{solidServer}}"></textarea>
      <button style="vertical-align:top" on-click="changeServer">{{changeServerLabel(lang)}}</button>
    </div>
    </br>
    <div style="display:block;">
      <label style="vertical-align:top">{{usersWebidLabel(lang)}}</label>
      <textarea id="webIdTextArea" disabled="disabled" cols=30 rows=1 value="{{usersWebid::input}}"></textarea>
      <!--/br-->
      <button style="vertical-align:top" on-click="login">{{loginButtonLabel(lang)}}</button>
    </div>
    </br>
    <!--button on-click="signup">{{signupButtonLabel(lang)}}</button-->
    <!--/br-->
    <!--h5>{{webIdHeading(lang)}} [[usersWebid]]</h5-->
  </template>

  <script>
    'use strict'

    class PolymerSolidLoginElement extends PropertiesMixin(Polymer.Element, 
        [{name: 'elementName', type: String, value: 'polymer-solid-login-element'},
        {name: 'solidServer', type: String, notify: true},
        {name: 'usersWebid', type: String, value: '', notify: true},
        {name: 'lang', notify: true, type: String, value: 'en'},
        {name: 'userNotification', type: String, value: '', notify: true}]) {

      static get is() { return 'polymer-solid-login-element' }


      absolutePath(href) {
          var link = document.createElement("a");
          link.href = href;
          return (link.protocol + "//" + link.host + link.pathname + link.search + link.hash);
      }

      changeServer() {
        this.solidServer = this.$.solidServerTextArea.value;
        setTimeout(this.notifyPath("solidServer"));
      }

      onWebIdNoChange(e) {
        e.preventDefault();
      }

      login() {

        localStorage.clear();
        //sessionStorage.clear();

        return auth.popupLogin(
//{popupUri: "https://tag42git.github.io/polymer-solid/popup.html"}
                {popupUri: this.absolutePath('popup.html')}
                ).then(
          (session) => {
    			    if (session) {
                this.userNotification = this.loggedInLabel(this.lang)+', webId= '+session.webId;
                this.usersWebid = session.webId;
              }
              else {
                this.userNotification = this.couldntGetSessionLabel(this.lang);
              }
		        },
            (reason) => {
              this.userNotification = this.couldntAuthorizeLabel(this.lang)+"= "+reason;
            }
          ).catch(err => {
              this.userNotification = this.unableToAuthorizeLabel(this.lang)+": "+err;
            }
          );

      } // login

      solidServerLabel(lang) {
        return languages.getString(lang,"Solid Server");
      }

      usersWebidLabel(lang) {
        return languages.getString(lang,"Users Web ID:");
      }

      loginButtonLabel(lang) {
        return languages.getString(lang,"Login");
      }

      signupButtonLabel(lang) {
        return languages.getString(lang,"Sign Up");
      }

      loggedInLabel(lang) {
        return languages.getString(lang,"logged in");
      }

      couldntGetSessionLabel(lang) {
        return languages.getString(lang,"couldn't get session");
      }
      couldntAuthorizeLabel(lang) {
        return languages.getString(lang,"couldn't authorize, reason");
      }
      unableToAuthorizeLabel(lang) {
        return languages.getString(lang,"unable to authorize, error");
      }
      changeServerLabel(lang) {
        return languages.getString(lang,"Change Server");
      }

    } // class PolymerSolidLoginElement

    customElements.define(PolymerSolidLoginElement.is, PolymerSolidLoginElement);

  </script>
</dom-module>
