<!--
  PropertiesMixin
    PolymerSolid classes extend this.  It has important stuff like Solid methods.  Maybe its not efficient to do it this way,...
    there is maybe some duplication of code.  TODO: So maybe if time permits this can be refactored.
-->

<!--script src="../../node_modules/solid-client/dist/solid-client.min.js"></script-->
<script src="../../node_modules/rdflib/dist/rdflib.min.js"></script>
<script src="../../node_modules/solid-auth-client/dist-lib/solid-auth-client.bundle.js"></script>
<script src="../languages/languages.js"></script>

<script>

  'use strict'


  var auth = SolidAuthClient;

//  var solid = SolidClient;
//  var RDF = solid.rdflib.Namespace("http://www.w3.org/1999/02/22-rdf-syntax-ns#")
//  var RDFS = solid.rdflib.Namespace("http://www.w3.org/2000/01/rdf-schema#")
//  var FOAF = solid.rdflib.Namespace("http://xmlns.com/foaf/0.1/")
//  var XSD = solid.rdflib.Namespace("http://www.w3.org/2001/XMLSchema#")
//  var LDP = solid.rdflib.Namespace("http://www.w3.org/ns/ldp#")
//  var POSIX = solid.rdflib.Namespace("http://www.w3.org/ns/posix/stat#")  
//  var PIM = solid.rdflib.Namespace("http://www.w3.org/ns/pim/space#")
//  var OWL = solid.rdflib.Namespace("http://www.w3.org/2002/07/owl#")
//  var SCHEMADOTORG = solid.rdflib.Namespace("http://schema.org/")

  var rdflib = $rdf;
  var RDF = rdflib.Namespace("http://www.w3.org/1999/02/22-rdf-syntax-ns#")
  var RDFS = rdflib.Namespace("http://www.w3.org/2000/01/rdf-schema#")
  var FOAF = rdflib.Namespace("http://xmlns.com/foaf/0.1/")
  var XSD = rdflib.Namespace("http://www.w3.org/2001/XMLSchema#")
  var LDP = rdflib.Namespace("http://www.w3.org/ns/ldp#")
  var POSIX = rdflib.Namespace("http://www.w3.org/ns/posix/stat#")  
  var PIM = rdflib.Namespace("http://www.w3.org/ns/pim/space#")
  var OWL = rdflib.Namespace("http://www.w3.org/2002/07/owl#")
  var SCHEMADOTORG = rdflib.Namespace("http://schema.org/")

  const PropertiesMixin = (subclass, prop) => class extends subclass {

    static get properties() {
      var properties = {};
      prop.forEach(elem => {properties[elem.name] = {type: elem.type, observer: elem.observer, notify: elem.notify, value: elem.value}});
      return properties;
    }

    debounce(fn) {
        this._debouncer = Polymer.Debouncer.debounce(this._debouncer,
            Polymer.Async.timeOut.after(250),
            () => { fn.bind(this)() });
    }

    dashToCamel(aString) {
      var retString = aString.slice(0);
      var len = aString.length;
      for (let i=0; i<len; i++) {
        if (aString.charAt(i)==='-') {
          retString = aString.slice(0,i);
          if (i+1 < len) {
            retString += aString.charAt(i+1).toUpperCase();
            if (i+2 < len) {
              retString += aString.slice(i+2);
            }
          }
        }
      }
      return retString;
    }

    stringInArrayOfStrings(aString, anArrayOfStrings) {
      for (let j=0; j<anArrayOfStrings.length; j++) {
        if (aString===anArrayOfStrings[j]) return true;
      }
      return false;
    }

    connectedCallback() {

      super.connectedCallback();

      var names = prop.map(function(item) {return item.name});

      // when this element is connected, create and initialize private variables corresponding to attributes which are in the html
      for (let i = 0; i<this.attributes.length; i++) {

        // Don't create/initialize private variables from properties (which are also attributes), because they are already initialized.
        // Also don't create/initialize private variables from attributes with the name 'slot', because that's a name reserved for shadow DOM.
        // Otherwise create and initialize (from the html) private variables for attributes not named 'slot' and which are not also properties.

        var camelName = this.dashToCamel(this.attributes[i].name);

        if(!this.stringInArrayOfStrings(camelName,names) && this.attributes[i].name!=='slot') {
          this['_'+camelName] = this.attributes[i].value;
        }
      }
    }


    setUpSocket(socket, url) {

      function reportEvent(event, msg) {
        if (event !== undefined || event != null) {
          //console.log("got "+event.type+" event for "+event.currentTarget.url+(event.data?" with data: "+event.data:""));
          if (event.currentTarget !== undefined && event.currentTarget != null) {
            if (event.currentTarget.url !== undefined && event.currentTarget.url != null) {
              //console.log("got "+msg+" event for "+event.currentTarget.url);
            }
          }
        }
      }

      socket.onopen = (event) => {
        reportEvent(event, "onopen");
        if (socket.readyState == 1) {
          socket.send("sub "+url);
        }
        else {
          setInterval(()=>{
            if (socket.readyState==1) { 
              socket.send("sub"+url);
              clearInterval();
            }
          },100);
        }
      };

      socket.onmessage = (event) => {
        reportEvent(event, "onmessage");
        if (event.data !== undefined) {
          //console.log(event.data);
          if (typeof(event.data)==="string" && event.data.startsWith("pub ")) {
            setTimeout(this.getResourceItems());
          }
        }
      };

      //socket.onmessage = () => {
      //  console.log("onmessage");
      //};

      socket.onerror = (event) => {
        reportEvent(event, "onerror");
        if (event.data !== undefined) {
          //console.log(event.data);
        }
      };

      socket.onclose = (event) => {
        reportEvent(event, "onclose");
        if (event.data !== undefined) {
          //console.log(event.data);
        }
      };

      return socket;
    }

    resetSockets() {
      if (this.sockets !== undefined) {
        for (var i=0; i<this.sockets.length; i++) {
          this.sockets[i].close();
          //console.log("closing "+this.sockets[i].url);
        }
      }
      this.sockets = [];
    }

    createSocket(url) {
      var socketUrl = url.replace(/^https:\/\//i, 'wss://');
      var socket =  new WebSocket(socketUrl);
      return this.setUpSocket(socket, url);
    }


    uuid() {
        function randomDigit() {
            if (crypto && crypto.getRandomValues) {
                var rands = new Uint8Array(1);
                crypto.getRandomValues(rands);
                return (rands[0] % 16).toString(16);
            } else {
                return ((Math.random() * 16) | 0).toString(16);
            }
        }
        var crypto = window.crypto || window.msCrypto;
        return 'xxxxxxxx-xxxx-4xxx-8xxx-xxxxxxxxxxxx'.replace(/x/g, randomDigit);
    }

    isEqual(val1, val2) {
      return val1 === val2;
    }

    basename(path) {
      var retPath;
      var trailingSlash = "";
      if (path.substring(path.length - 1) == '/') {
        retPath = path.substring(0, path.length - 1);
        trailingSlash = "/";
      }
      else
        retPath = path;

      var a = retPath.split('/');
      return a[a.length - 1] + trailingSlash;
    }

    pathTo(path) {
      if (path.endsWith("/"))
        return path;
      var basenm = this.basename(path);
      return path.substr(0,path.indexOf(basenm));
    }

    getMimeType(str) {
      var mimeType = "text";

      if (str.endsWith(".ttl") || str.endsWith("/")) {
        mimeType = "text/turtle";
      }
      else {
        if (str.endsWith(".rdf")) {
          mimeType = "application/rdf+xml";
        }
        else {
          if (str.endsWith(".n3")) {
            mimeType = "text/n3";
          }
          else {
            if (str.endsWith(".xhtml")) {
              mimeType = "application/xhtml+xml";
            }
            else {
              if (str.endsWith(".htm") || str.endsWith(".html")) {
                mimeType = "text/html";
              }
              else {
                if (str.endsWith(".jsonld")) {
                  mimeType = "application/ld+json";
                }
                else {
                  if (str.endsWith(".nq")) {
                    mimeType = "application/n-quads";
                  }
                }
              }
            }
          }
        }
      }
      return mimeType;
    }

    addAttributeInstrs(element, attribute, instrs) {
      var attr = element.getAttribute(attribute);
      instrs.forEach((e)=>{
              attr += (';'+e);
          });
      element.setAttribute(attribute,attr);
    }
    removeAttributeInstrs(element, attribute, instrs) {
      var attr = element.getAttribute(attribute);
      if (attr !== undefined && attr !== null) {
        instrs.forEach((e)=>{
                attr = attr.replace(e,"");
                attr = attr.replace(";;",";");
            });
        element.setAttribute(attribute,attr);
      }
    }

    getAllElements(r) {
      const allElements = [];

      function findAllElements(nodes) {
        for (let i = 0, el; el = nodes[i]; ++i) {
          allElements.push(el);

          // If the element has shadow DOM, dig deeper.
          if (el.shadowRoot) {
            findAllElements(el.shadowRoot.querySelectorAll('*'));
          }
        }
      }

      findAllElements(r.querySelectorAll('*'));
      if (r.shadowRoot)
        findAllElements(r.shadowRoot.querySelectorAll('*'));
      return allElements;  
    }

    getAllCustomElements() {
      const allCustomElements = [];

      function isCustomElement(el) {
        const isAttr = el.getAttribute('is');
        // Check for <super-button> and <button is="super-button">.
        return el.localName.includes('-') || isAttr && isAttr.includes('-');
      }

      function findAllCustomElements(nodes) {
        for (let i = 0, el; el = nodes[i]; ++i) {
          if (isCustomElement(el)) {
            allCustomElements.push(el);
          }
          // If the element has shadow DOM, dig deeper.
          if (el.shadowRoot) {
            findAllCustomElements(el.shadowRoot.querySelectorAll('*'));
          }
        }
      }

      findAllCustomElements(document.querySelectorAll('*'));
      return allCustomElements;
    }

    adjustAttributeForInputElementsExcept(r, exc, fn, attr, instrs) {
      var exclude = [];
      for (var i=0; exc!==undefined && exc!==null && i<exc.length; i++) {
        exclude.push(exc[i]);
        var desc = this.getAllElements(exc[i]);
        for (var j=0; j<desc.length; j++) {
          exclude.push(desc[j]);
        }
      }
      var els = this.getAllElements(r);
      for (var i=0; i<els.length; i++) {
        // TODO: this needs adjustment for other input types
        if (els[i].localName === "button" || els[i].localName === "textarea" || els[i].localName === "select") {
          var excluded = false;
          for (var j=0; excluded===false && j<exclude.length; j++) {
            if (els[i] === exclude[j])
              excluded = true;
          }
          if (!excluded)
            fn(els[i],attr, instrs);
        }
      }
    }
    disableInputExc(r, exc) {
      this.adjustAttributeForInputElementsExcept(r, exc, this.addAttributeInstrs, 'style', ['pointer-events:none']);
    }
    enableInputExc(r, exc) {
      this.adjustAttributeForInputElementsExcept(r, exc, this.removeAttributeInstrs, 'style', ['pointer-events:none']);
    }

    disableInput(wl) {
      this.disableInputExc(this.shadowRoot, wl);
    }

    disableOtherCustomElements() {
      var customElements = this.getAllCustomElements();

      for (var i=0; customElements && i<customElements.length; i++) {
        if (customElements[i] !== this) {
          //this.disableInputExc(customElements[i]);
          customElements[i].style.visibility = "hidden";
        }
      }
      this.enableInputExc(this);
    }

    enableInput() {
      this.enableInputExc(this.shadowRoot);

    }

    enableOtherCustomElements() {
      var customElements = this.getAllCustomElements();

      for (var i=0; customElements && i<customElements.length; i++) {
          customElements[i].style.visibility = "visible";
      }
    }


    // update or create a new resource
    solidPut(url, data, mimeType) {
      return this.solidReq(url, {method: "PUT", "Content-Type": mimeType, body: data}, this.putLabel(this.lang), 
          ()=>{
            this.userNotification = this.successfullyLabel(this.lang)+" "+this.putLabel(this.lang)+" "+url+", webId= "+this.usersWebid;
          },
          (err)=>{
            //console.log("solidPut: "+err);
            Promise.reject(err);
          }
      );
    }

    // patch existing resource
    solidPatch (url, toDel, toIns) {
      var theData = '';
      if (typeof toDel === 'string' || toDel instanceof String) {
        theData += toDel;
      }
      else {
        if (toDel && toDel.length > 0) {
          toDel = toDel.map(function (st) {
            if (typeof st !== 'string') {
              // This is an RDF Statement. Convert to string
              return st.toCanonical()
            }
            return st;
          })
          theData += 'DELETE DATA { ' + toDel.join(' ') + ' };\n'
        }
      }

      if (toIns && toIns.length > 0) {
        toIns = toIns.map(function (st) {
          if (typeof st !== 'string') {
            // This is an RDF Statement. Convert to string
            return st.toCanonical()
          }
          return st;
        })
        theData += 'INSERT DATA { ' + toIns.join(' ') + ' };\n'
      }

      return this.solidReq(url, {method: "PATCH", "Content-Type": 'application/sparql-update', body: theData}, this.patchLabel(this.lang), 
          ()=>{
            this.userNotification = this.successfullyLabel(this.lang)+" "+this.patchedLabel(this.lang)+" "+url+", webId= "+this.usersWebid;
          },
          (err)=>{
            //console.log(err);
          }
      );
    }

    solidCreateNew(parentUrl, name, isContainer, mimetype, data) {
      // new container or resource

      var mimeType = mimetype == null ? "text/turtle" : mimetype;

      if (isContainer) {
        var dataIn = "<> a <http://www.w3.org/ns/ldp#Container>, <http://www.w3.org/ns/ldp#BasicContainer>.";
        var url = parentUrl.endsWith("/") ? parentUrl.slice(0,-1) : parentUrl;
        return this.solidReq(url,
                                  {
                                    method: "POST",
                                    // note: header entries link,content-type, slug have to be in separate .headers object
                                    headers: {
                                      // note: on below line, link header value had to be surrounded by single quotes, not double
                                      // also, url had to be surrounded by angle brackets
                                      "Link": '<http://www.w3.org/ns/ldp#BasicContainer>; rel="type"', 
                                      "Content-Type": mimetype,
                                      "Slug": name
                                    },
                                    body: dataIn
                                  }, "create",
            ()=>{
              this.userNotification = this.successfullyLabel(this.lang)+" "+this.createdLabel(this.lang)+" "+url+", webId= "+this.usersWebid;
              return true;
            },
            (err)=>{
              //console.log(err);
              return false;
            }
        );
      } else {
        var url = (parentUrl.endsWith("/") ? parentUrl : parentUrl+("/"))+name;
        return this.solidReq(url,
                                  {
                                    method: "PUT",
                                    // note: header entries have to be in separate .headers object
                                    headers: {
                                      "Content-Type": mimetype,
                                    },
                                    body: data
                                  }, "create",
            ()=>{
              this.userNotification = this.successfullyLabel(this.lang)+" "+this.createdLabel(this.lang)+" "+url+", webId= "+this.usersWebid;
              return true;
            },
            (err)=>{
              //console.log(err);
              return false;
            }
        );
      }
    }

    solidReq(uri, options, operation, fn, catchFn) {
      
      var opStr = this.accessLabel(this.lang);
      if (operation !== undefined)
        opStr = operation;

      const request = auth.fetch(uri, options);
      if (this.lang === 'en')
        this.userNotification = (opStr.endsWith("e") ? opStr.slice(0,-1) : opStr) +"ing "+uri+"...";
      else
        this.userNotification = opStr+" "+uri+"...";
      return request.then(
        response => {
          if (response.ok == true) {
            return response.text();
          }
          else {
            this.userNotification = opStr+" "+uri+", "+this.failedLabel(this.lang)+" "+response.statusText+", webId= "+this.usersWebid;
          }
        },
        reason => {
          this.userNotification = this.cantLabel(this.lang)+opStr+this.resourceReasonLabel(this.lang)+reason;
        }
      ).then(aString => {
        if (aString===undefined)
          throw(this.userNotification);
        if (fn !== undefined) {
          if (opStr === "read")
            return fn(aString);
          else
            return fn();
        }
        else {
          //console.log("aString= "+aString);
          return aString;
        }
      }).catch((err) => {
        if (catchFn !== undefined)
          return catchFn(err);
      });
    }

    accessLabel(lang) {
      return languages.getString(lang,"access");
    }
    failedLabel(lang) {
      return languages.getString(lang,"failed:"); 
    }
    cantLabel(lang) {
      return languages.getString(lang,"Can't ");
    }
    resourceReasonLabel(lang) {
      return languages.getString(lang," resource, reason: ");
    }
    successfullyLabel(lang) {
      return languages.getString(lang,"successfully");
    }
    putLabel(lang) {
      return languages.getString(lang,"put");
    }
    patchedLabel(lang) {
      return languages.getString(lang,"patched");
    }
    createdLabel(lang) {
      return languages.getString(lang,"created");
    }
    patchLabel(lang) {
      return languages.getString(lang,"patch");
    }


  };

</script>
