<!--
  PolymerSolidDataBrowserElement
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/debounce.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../properties-mixin/properties-mixin.html">

<dom-module id="polymer-solid-data-browser-element">

  <template>
    <style>
      :host {
        display: block;
      }

      ul{
        list-style:none;
        display: flex;
        flex-direction: column;
        -webkit-padding-start: 2%;
      }
      li {
        display: flex;
        flex-direction: row;
      }
      .name {
        display: block;
        width: 60%;
        text-align: left;
      }
      .size {
        display: block;
        width: 18%;
        text-align: right;
      }
      .mtime {
        display: block;
        width: 18%;
        text-align: right;
      }
      .edit {
        display: block;
        width: 4%;
        text-align: right;
        font-size:xx-small;
        overflow: hidden;
      }

    </style>

    <div>
      <label>{{solidResourceLabel(lang)}}</label>
      <span style="margin-left:15px">{{currentPath}}</span>
      <button id="upOneContainerButton" style="margin-left:25px;font-size:x-small" on-click="upOneContainer">{{upLabel(lang)}}</button>
    </div>
    
    <div>
      <button id="createContainerButton" style="font-size:x-small" hidden$="{{!isContainer}}" on-click="toggleCreateDialog" data-ctype="container">{{newContainerLabel(lang)}}</button>
      <button id="createResourceButton" style="font-size:x-small" hidden$="{{!isContainer}}" on-click="toggleCreateDialog" data-ctype="resource">{{newResourceLabel(lang)}}</button>
      <button id="saveResourceAsButton" style="font-size:x-small" hidden$="{{isContainer}}" on-click="toggleSaveAsDialog" data-ctype="resource">{{saveAsResourceLabel(lang)}}</button>
    </div>

    <br>

    <!--ul id="selectResource" on-change="resourceSelected" on-mouseover="mouseOverTranslation"-->

    <div style="position:absolute;left:5%;top:20%;width:90%;background:lightskyblue;border:1px solid black;" id="createDiag" hidden$="{{notCreatingContainerOrResource(creatingContainer,creatingResource)}}">
      <div style="display:block;margin-left:5%;margin-bottom:5%;margin-right:5%">
        <p>{{createNewContainerLabel(lang,creatingResource)}}</p>
        <textarea style="width:90%" id="containerNameText" value="{{newContainerName}}"></textarea>
        <div style="margin-bottom:5%;margin-right:10%;float:right">
          <button id="createDiagCreate" type="button" on-click="createContainerOrResource">{{createLabel(lang)}}</button>
          <button id="createDiagCancel" type="button" on-click="toggleCreateDialog">{{cancelLabel(lang)}}</button>
        </div>
      </div>
    </div>

    <div style="position:absolute;left:5%;top:20%;width:90%;background:lightskyblue;border:1px solid black;" id="saveAsDiag" hidden$="{{notSavingResource(savingResource)}}">
      <div style="display:block;margin-left:5%;margin-bottom:5%;margin-right:5%">
        <p>{{saveResourceAsLabel(lang)}}</p>
        <textarea style="width:90%" id="savingNameText" value="{{newResourceName}}"></textarea>
        <div style="margin-bottom:5%;margin-right:10%;float:right">
          <button id="saveAsDiagSave" type="button" on-click="saveResource">{{saveLabel(lang)}}</button>
          <button id="saveAsDiagCancel" type="button" on-click="toggleSaveAsDialog">{{cancelLabel(lang)}}</button>
        </div>
      </div>
    </div>

    <div id="parentDiv" hidden$="{{!isContainer}}">
      <label style="display:inline;text-align:center"><span style="display:inline-block;width:60%">{{nameLabel(lang)}}</span><span style="display:inline-block;width:20%">{{sizeLabel(lang)}}</span><span style="display:inline-block;width:20%">{{modifiedLabel(lang)}}</span></label>
      <!--ul id="selectResource", contenteditable="true"-->
      <ul id="selectResource" style="padding-left:0;">
        <template is="dom-repeat" items="{{containedResources}}" as="item">
          <!--li draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)">{{item}}</li-->
          <li id="{{index}}">
            <button id="name{{index}}" class="name" on-dblclick="openResource" on-click="edResMenuOff" on-contextmenu="toggleEditResourceMenu"><span contenteditable="false">{{item.name}}</span></button>
            <button class="size"><span contenteditable="false">{{item.size}}</span></button>
            <button class="mtime"><span contenteditable="false">{{item.mtime}}</span></button>
            <button class="edit" on-click="toggleEditResourceMenu">{{editLabel(lang)}}</button>
          </li>
        </template>

        <select id="editSelectMenu" style="position:absolute;right:0;" hidden$="{{!edResMenu}}" on-click="chooseEditResourceOption">
          <!--option value="edit">Edit</option-->
          <option value="delete">{{deleteLabel(lang)}}</option>
        </select>

      </ul>

    </div>



  </template>

  <script>
    'use strict'

    class PolymerSolidDataBrowserElement extends PropertiesMixin(Polymer.Element, 
        [{name: 'elementName', type: String, value: 'polymer-solid-data-browser-element'},
        {name: 'usersWebid', type: String, value: '', notify: true},
        {name: 'rdfGraph', type: null, notify: true, value: null},
        {name: 'baseName', type: String, notify: true, value: ''},
        {name: 'currentPath', type: String, notify: true, value: ''},
        {name: 'beginningPath', type: String, notify: true, value: ''},
        {name: 'guardedPath', type: String, notify: true, value: ''},
        {name: 'pathHistory', type: null, notify: true, value: null},
        {name: 'noCredentials', type: Boolean, value: false},
        {name: 'resourceLabel', type: String, value: 'Resource'},
        {name: 'forceProxy', type: Boolean, value: false},
        {name: 'graphAsString', type: String, notify: true, value: ''},
        {name: 'solidServer', type: String, notify: true},
        {name: 'lang', notify: true, type: String, value: 'en'},
        {name: 'userNotification', type: String, value: '', notify: true}]) {

      static get is() { return 'polymer-solid-data-browser-element' }

      static get observers() {
        return [
          'getResourceItems(usersWebid.*, baseName.*, solidServer.*)'
        ];
      }

      
      toggleEditResourceMenu(e) {
        if (this.edResMenu === undefined || this.edResMenu == false) {

          if (this.$.selectResource === undefined) {
            console.log("selectResource undefined");
            return;
          }
          var esm = this.$.selectResource.querySelector('#editSelectMenu');
          if (esm != null) {
            esm.setAttribute("style","position: absolute; margin:0; padding:0; border:0; top: "+e.clientY+ "px; left: "+(e.clientX-60)+"px;");
          }

          var idx = Number(e.currentTarget.parentElement.id);
          var item = this.get(['containedResources', idx])
          this.editMenuOpenedOnResource = item;
          //console.log(item);
          this.edResMenu = true;         
        }
        else
          this.edResMenu = false;
        e.preventDefault();
        return false;
      }

      edResMenuOff(e) {
        this.edResMenu = false;
      }

      chooseEditResourceOption(e) {
        //console.log(e.currentTarget.value);
        if (e.currentTarget.value === "delete")
          this.deleteResource(e);
        this.edResMenu = false;
      }

      notCreatingContainerOrResource() {
        if (!this.creatingContainer && !this.creatingResource)
          return true;
        else
          return false;
      }

      notSavingResource() {
        if (!this.savingResource)
          return true;
        else
          return false;
      }

      deleteResource(e) {

        this.edResMenu = false;

        var item = this.editMenuOpenedOnResource;
        var delUri = (this.currentPath.endsWith("/") ? this.currentPath.slice(0,-1) : this.currentPath) +"/"+item.name;

        if (confirm(this.confirmDeleteLabel(this.lang)+delUri+" ?") !== true) {
          return;
        }

        //console.log("deleting "+delUri+"...");

        return this.solidReq(delUri, {method: "DELETE"}, "delete", 
            ()=>{
              this.userNotification = this.successfullyDeletedLabel(this.lang)+delUri+", webId= "+this.usersWebid;
              setTimeout(this.getResourceItems());
            },
            (err)=>{
              console.log(err);
            }
        );
      }

      openResource(e) {
        var item = e.model.item;
        if (this.pathHistory === undefined || this.pathHistory == null)
          this.pathHistory = [];
        this.pathHistory.push(this.baseName);
        this.baseName = item.name;
        this.getResourceItems();
      }

      upOneContainer(e) {
        if (this.pathHistory === undefined || this.pathHistory == null) {
          this.pathHistory = [];
          return;
        }
        if (this.pathHistory.length == 0)
          return;
        if (this.guardedPath.startsWith(this.currentPath))
          return;
        this.baseName = this.pathHistory.pop();
        this.getResourceItems();
      }

      getPathHistoryStr() {
        if (this.pathHistory===undefined || this.pathHistory ==null)
          return "";
        else {
          var dirStr = "";
          for (let i=0; i<this.pathHistory.length; i++) {
            if (this.pathHistory[i] !== "") {
              if (this.pathHistory[i].endsWith("/"))
                dirStr += this.pathHistory[i];
              else
                dirStr += this.pathHistory[i] + "/";
            }
          }
          return dirStr;
        }
      }

      toggleCreateDialog(e) {

        if (e.target.dataset.ctype === "container")
          this.creatingContainer = !this.creatingContainer;
        else
          if (e.target.dataset.ctype === "resource")
            this.creatingResource = !this.creatingResource;
          else
            if (!this.creatingContainer && !this.creatingResource)
              console.log("whoops");
            else {
//console.log("Hey!");
              this.creatingContainer = false;
              this.creatingResource = false;
              this.$.containerNameText.value = "";

              this.enableOtherCustomElements();
              this.enableInput();
              return;
            }

        if (this.creatingContainer === true || this.creatingResource === true) {
          this.disableOtherCustomElements();
          this.disableInput([this.$.createDiag]);
        }
        else {
          this.enableOtherCustomElements();
          this.enableInput();
        }
      }

      toggleSaveAsDialog(e) {
        this.savingResource = !this.savingResource;
        if (this.savingResource === false) {
          this.$.savingNameText.value = "";

          this.enableOtherCustomElements();
          this.enableInput();
          return;
        }
        else {
          this.disableOtherCustomElements();
          this.disableInput([this.$.saveAsDiag]);
        }
      }

      getPathStackFromString(str) {
        if (str===undefined || str ==null)
          return [];
        else {
          if (str.startsWith("/"))
            str = str.slice(1);
          var pathStack = str.split("/");

          // leave off resource or container name
          pathStack = pathStack.slice(0,pathStack.length-1);
          for (var i=0; i<pathStack.length; i++)
            pathStack[i] += "/";
          return pathStack;
        }
      }

      otherwiseInvalidPath(path) {
        while (path.startsWith("../")) {
          path = path.slice(3);
        }
        if (path.includes("..") || path.includes(":") || path.includes("//"))
          return true;
        return false;
      }

      currentContainer() {
        var bn = this.basename(this.currentPath);
        return this.currentPath.substr(0,this.currentPath.indexOf(bn));
      }

      saveResource(e) {

        //console.log("Saving "+this.$.savingNameText.value);

        var containingUri = this.currentContainer();        
        var name = this.$.savingNameText.value.trim();

        var addToPathHistory = [];

        if (this.otherwiseInvalidPath(name)) {
          alert(this.invalidContainerOrResourceNameLabel(this.lang));
          this.toggleSaveAsDialog(e);
          this.$.savingNameText.value = "";
          return;
        }

        if (name.indexOf("/") >= 0) {
          addToPathHistory = this.getPathStackFromString(name);
        }

        if (name.indexOf("\\") >= 0) {
          alert(this.backslashNotPermittedLabel(this.lang));
          this.toggleSaveAsDialog(e);
          this.$.savingNameText.value = "";
          return;          
        }

        if (confirm(this.confirmCreateLabel(this.lang)+name+" ?") !== true) {
          this.toggleSaveAsDialog(e);
          this.$.savingNameText.value = "";
          return;
        }

        if (name.startsWith("../")) {
          var bn = this.basename(containingUri);
          containingUri = containingUri.substring(0,containingUri.indexOf(bn));
          name = name.substring(3);
        }

        var data = this.graphAsString;
        this.solidCreateNew(containingUri, name, false, "text/turtle", data).then(
          (ok)=>{
            if (ok) {
              //console.log("created "+containingUri+name);

              if (this.pathHistory === undefined || this.pathHistory == null)
                this.pathHistory = [];

              if (addToPathHistory.length > 0) {
                var addPaths = addToPathHistory.slice(0);
                for (var i=0; i<addToPathHistory.length; i++) {
                  if (addToPathHistory[i] === "../") {
                    this.pathHistory.pop();
                    addPaths = addPaths.slice(1);
                  }
                  else {
                    break;
                  }
                }
                this.pathHistory = this.pathHistory.concat(addPaths);
                this.baseName = this.basename(name);
              }
              else {
                this.baseName = name;
              }

              setTimeout(this.getResourceItems());
            }
            else {
              console.log("could't create "+containingUri+name);
              alert(this.invalidContainerOrResourceNameLabel(this.lang));
            }
          });

        this.toggleSaveAsDialog(e);
        this.$.savingNameText.value = "";
      }

      createContainerOrResource(e) {

        var containerNameTextArea = this.$.containerNameText;

        var containingUri = this.currentPath;        
        var name = containerNameTextArea.value.trim();

        var addToPathHistory = [];

        if (this.otherwiseInvalidPath(name)) {
          alert(this.invalidContainerOrResourceNameLabel(this.lang));
          this.toggleCreateDialog(e);
          this.$.containerNameText.value = "";
          return;
        }

        if (name.indexOf("/") >= 0) {
          addToPathHistory = this.getPathStackFromString(name);
        }

        if (name.indexOf("\\") >= 0) {
          alert(this.backslashNotPermittedLabel(this.lang));
          this.toggleCreateDialog(e);
          this.$.containerNameText.value = "";
          return;          
        }

        if (confirm(this.confirmCreateLabel(this.lang)+name+" ?") !== true) {
          this.toggleCreateDialog(e);
          this.$.containerNameText.value = "";
          return;
        }

        var amCreatingContainer = this.creatingContainer;

        this.solidCreateNew(containingUri, name, this.creatingContainer?true:false).then(
          (ok)=>{
            if (ok) {
              //console.log("created "+containingUri+name);

              if (this.pathHistory === undefined || this.pathHistory == null)
                this.pathHistory = [];

              if (addToPathHistory.length > 0) {
                var addPaths = addToPathHistory.slice(0);
                for (var i=0; i<addToPathHistory.length; i++) {
                  // pathHistory does not include current path, so check i>0
                  if (addToPathHistory[i] === "../") {
                    if (i>0) {
                      this.pathHistory.pop();
                    }
                    addPaths = addPaths.slice(1);
                  }
                  else {
                    break;
                  }
                }
                this.pathHistory = this.pathHistory.concat(addPaths);
                this.baseName = this.basename(name);
              }
              else {
                this.pathHistory.push(this.baseName);
                this.baseName = name;
              }
              if (amCreatingContainer == true && this.baseName.endsWith("/")!==true) {
                this.baseName += "/"
              }

              setTimeout(this.getResourceItems());
            }
            else {
              console.log("could't create "+containingUri+name);
              alert(this.invalidContainerOrResourceNameLabel(this.lang));
            }
          });

        this.toggleCreateDialog(e);
        this.$.containerNameText.value = "";
      }
     
      getResourceItems(usersWebidCR, baseNameCR, solidServerCR) {

        //this.debounce(()=> {

          if (this.solidServer != null && this.solidServer.endsWith("/"))
            this.solidServer = this.solidServer.slice(0,-1);    

          this.currentPath = this.solidServer+'/'+this.getPathHistoryStr()+this.baseName;

//console.log("**** this.currentPath= "+this.currentPath+" ****, this.getPathHistoryStr()= "+this.getPathHistoryStr()+", this.baseName= "+this.baseName);

          this.getResource(this.currentPath).then((store)=> {

            if (store == null) {
              this.rdfGraph = null;
              this.isContainer = false;
              return;
            }
            // arrange to be notified if this resource or directory is deleted, moved, or changed
            this.resetSockets();
            this.sockets.push(this.createSocket(this.currentPath));

            // why can't I just do cntnrSt=store.any(rdflib.sym(this.currentPath),RDF("type"),LDP("BasicContainer")); ?? doesn't work
            var cntnrSt = null
            var cntnrStmnts = store.statementsMatching(undefined,RDF("type"), LDP("BasicContainer"));
            for (var i=0; cntnrStmnts !== undefined && cntnrStmnts !== null && i<cntnrStmnts.length; i++) {
              if (cntnrStmnts[i].subject.uri === this.currentPath)
                cntnrSt = cntnrStmnts[i];
            }

            if (cntnrSt != undefined && cntnrSt != null) {

              var stmnts=store.statementsMatching(cntnrSt.subject,LDP("contains"),undefined);

              this.isContainer = true;
              this.rdfGraph = store;
              this.set('containedResources',[]);

              // this is a container
              
              for (var i=0; stmnts !== undefined && stmnts !== null && i<stmnts.length; i++) {
                var name = decodeURI(this.basename(stmnts[i].object.value).replace("+", "%20"));
                var mtime = this.rdfGraph.any(stmnts[i].object, POSIX("mtime")).value;
                var size = this.rdfGraph.any(stmnts[i].object, POSIX("size")).value;

                var dateTime = new Date(mtime*1000);
                var itm = {"name":name, "mtime":dateTime.toLocaleDateString(), "size":size};
                this.push("containedResources",itm);

                // arrange to be notified if the resource is deleted or moved
                var uri = stmnts[i].object.value;

                // don't know why solid server is sometimes adding double slashes after server
                var uriAfterServer = uri.split(this.solidServer)[1];
                while (uriAfterServer.startsWith("/")) {
                  uriAfterServer = uriAfterServer.slice(1);
                }
                var noDoubleSlashes = uriAfterServer.replace(/\/\//g,"/");
                uri = (this.solidServer.endsWith("/") ? this.solidServer : (this.solidServer+"/")) + noDoubleSlashes;

                this.sockets.push(this.createSocket(uri));
              }
            }
            else {
              this.isContainer = false;
            }
          });

        //});
      }

      // TODO: need to handle: 'text/n3', 'application/xhtml+xml', 'text/html', 'application/sparql-update', ...
      //  'application/ld+json', 'application/nquads', 'application/n-quads'

      getResource(currentPath) {
  
        return this.solidReq(currentPath, {method: "GET"}, "read", 
            (str)=>{
              //console.log(str);
              this.userNotification = this.successfullyReadLabel(this.lang)+currentPath+", webId= "+this.usersWebid;

              var mimeType = this.getMimeType(currentPath);

              if (mimeType !== "text" || currentPath.endsWith("/")) {
                var store = rdflib.graph();
                try {
                  rdflib.parse(str, store, currentPath, currentPath.endsWith(".rdf")?"application/rdf+xml":"text/turtle");
                  this.rdfGraph = store;
                  setTimeout(()=>{this.notifyPath('rdfGraph.*','changed');});
                  return store;
                }
                catch(e) {
                  this.userNotification = this.cantReadLabel(this.lang)+currentPath+this.becauseLabel(this.lang)+e+", webId= "+this.usersWebid;
                }
              }
              else {
                setTimeout(()=>{this.graphAsString = str.slice(0);});
                //this.notifyPath('graphAsString');
                return null;
              }
            },
            (err)=>{
              console.log(err);
              this.userNotification = this.cantReadLabel(this.lang)+currentPath+this.becauseLabel(this.lang)+err+", webId= "+this.usersWebid;
            }
        );
      }


      connectedCallback() {

        super.connectedCallback();

        this.baseName = this.beginningPath;
        this.currentPath = this.baseName;

        this.getResourceItems();

        this.edResMenu = false;
        this.creatingContainer = false;
        this.creatingResource = false;
        this.savingResource = false;
        this.isContainer = false;
      }

      solidResourceLabel(lang) {
        return languages.getString(lang, this.resourceLabel);
      }
      newContainerLabel(lang) {
        return languages.getString(lang, "new container");
      }
      newResourceLabel(lang) {
        return languages.getString(lang, "new "+this.resourceLabel.toLowerCase());
      }
      saveAsResourceLabel(lang) {
        return languages.getString(lang, "save "+this.resourceLabel.toLowerCase())+"..";
      }
      createNewContainerLabel(lang,creatingResource) {
        if (creatingResource)
          return languages.getString(lang,"Create New "+this.resourceLabel);
        else
          return languages.getString(lang, "Create New Container");
      }
      saveResourceAsLabel(lang) {
        return languages.getString(lang,"Save "+this.resourceLabel+" as");
      }
      createLabel(lang) {
        return languages.getString(lang, "Create");
      }
      saveLabel(lang) {
        return languages.getString(lang, "Save");
      }
      cancelLabel(lang) {
        return languages.getString(lang, "Cancel");
      }
      nameLabel(lang) {
        return languages.getString(lang, "Name");
      }
      sizeLabel(lang) {
        return languages.getString(lang, "Size");
      }
      modifiedLabel(lang) {
        return languages.getString(lang, "Modified");
      }
      deleteLabel(lang) {
        return languages.getString(lang, "Delete");
      }
      upLabel(lang) {
        return languages.getString(lang, "up");
      }
      editLabel(lang) {
        return languages.getString(lang, "Edit");
      }
      confirmDeleteLabel(lang) {
        return languages.getString(lang, "Are you sure you want to delete ");
      }
      successfullyDeletedLabel(lang) {
        return languages.getString(lang, "Successfully deleted ");
      }
      createInCurrentDirOnlyLabel(lang) {
        return languages.getString(lang, "Sorry, but right now you must create containers/resources only in the current container.");
      }
      backslashNotPermittedLabel(lang) {
        return languages.getString(lang, "Sorry, but right now '\\' is not permitted in container or resource names.");
      }
      confirmCreateLabel(lang) {
        return languages.getString(lang, "Are you sure you want to create ");
      }
      invalidContainerOrResourceNameLabel(lang) {
        return languages.getString(lang, "Sorry, but this is an invalid container or resource name.");
      }
      successfullyReadLabel(lang) {
        return languages.getString(lang, "successfully read ");
      }
      cantReadLabel(lang) {
        return languages.getString(lang, "can't read ");
      }
      becauseLabel(lang) {
        return languages.getString(lang, " because: ");
      }



    } // class PolymerSolidDataBrowserElement

    customElements.define(PolymerSolidDataBrowserElement.is, PolymerSolidDataBrowserElement);

  </script>

</dom-module>
