<!--
  PolymerSolidResourceHeadersElement

  // TODO: other polymer-solid elements should be refactored to use this if it makes them simpler
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/debounce.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../properties-mixin/properties-mixin.html">

<dom-module id="polymer-solid-resource-headers-element">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>


  </template>

  <script>
    'use strict'

    class PolymerSolidResourceHeadersElement extends PropertiesMixin(Polymer.Element, 
        [{name: 'elementName', type: String, value: 'polymer-solid-resource-headers-element'},
        {name: 'path', type: String, value: undefined, notify: true, observer: 'triggered'},
        {name: 'whenFinished', type: null, value: undefined, notify: true},
        {name: 'headers', type: null, value: undefined, notify: true},
        {name: 'writeable', type: Boolean, value: undefined, notify: true},
        {name: 'exists', type: Boolean, value: undefined, notify: true},
        {name: 'returnValue', type: null, value: undefined, notify: true},
        {name: 'usersWebid', type: String, value: '', notify: true},
        {name: 'solidServer', type: String, notify: true},
        {name: 'userNotification', type: String, value: '', notify: true},
        {name: 'lang', notify: true, type: String, value: 'en'}]) {

      static get is() { return 'polymer-solid-resource-headers-element' }

      
      triggered() {
        this.debounce(()=> {
            this.getHeaders();
          });
      }

      getHeaders() {
        this.url = this.solidServer + (this.path.startsWith("/")? this.path : ("/" + this.path));

        const request = auth.fetch(this.url, {method: "HEAD"});

        request.then(
          response => {
            if (response.ok == true) {

              this.exists = true;
              this.headers = response.headers;

              var wac = response.headers.get('WAC-Allow');

              //i.e. "user="read write append control",public="""

              if (wac != null) {
                var userPerms = null;
                var userP = /\s*user\s*=\s*"(.*)"\s*,\s*public\s*=\s*".*"/.exec(wac);
                if (userP != null && userP.length === 2)
                  userPerms = userP[1].split(" ");
                var publicPerms = null;
                var publicP = /\s*user\s*=\s*".*"\s*,\s*public\s*=\s*"(.*)"/.exec(wac);
                if (publicP != null && publicP.length === 2)
                  publicPerms = publicP[1].split(" ");

                //console.log("userPerms= "+userPerms+", publicPerms= "+publicPerms);

                if (userPerms.indexOf("write") < 0) {
                  this.writeable = false;
                }
                else {
                  this.writeable = true;
                }
                this.returnValue = "success";
              }
              else {
                this.returnValue = cantGetWACheaderLabel(lang);
                console.log(this.returnValue);
              }
            }
            else {
              this.exists = false;
              this.returnValue = "success";
            }
            this.whenFinished();
          },
          reason => {
            this.returnValue = reason;
            this.whenFinished();
          }
        );

      }

      cantGetWACheaderLabel(lang) {
        return languages.getString(lang, "Can't get Web Access Control (WAC) header");
      }

      connectedCallback() {

        super.connectedCallback();

      }


    } // class PolymerSolidResourceHeadersElement

    customElements.define(PolymerSolidResourceHeadersElement.is, PolymerSolidResourceHeadersElement);

  </script>

</dom-module>
