<!--
  PolymerSolidStarterElement
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../properties-mixin/properties-mixin.html">
<link rel="import" href="../polymer-solid-login-element/polymer-solid-login-element.html">
<link rel="import" href="../polymer-solid-edit-rdf-graph-element/polymer-solid-edit-rdf-graph-element.html">
<link rel="import" href="../polymer-solid-edit-acl-element/polymer-solid-edit-acl-element.html">
<link rel="import" href="../polymer-solid-data-browser-element/polymer-solid-data-browser-element.html">
<link rel="import" href="../polymer-solid-language-element/polymer-solid-language-element.html">
<link rel="import" href="../polymer-solid-edit-resource-element/polymer-solid-edit-resource-element.html">


<dom-module id="polymer-solid-starter-element">

  <template>
    <style>
      :host {
        display: block;
        font-size: 15px;
      }

      h1,h2,h3,h4,h5,h6 {margin: 0px; padding: 0px};
      select {width:100%};
      label {vertical-align:top};
    </style>

    <span style="display:inline-flex">
      <h3>{{heading(lang)}}</h3>
      <button style="position: absolute; right: 0;" on-click="toggleSettingsScreen">{{settingsLabel(settingsScreen, lang)}}</button>
    </span>

    <hr>

    <template is="dom-if" if="{{settingsScreen}}">
      <polymer-solid-language-element  users-webid={{webId}} user-notification={{notification}} solid-server={{solidServer}} lang={{lang}} mouse-over-lang={{mouseOverLang}}></polymer-solid-language-element>
      <br>
      <div>
        <polymer-solid-login-element  users-webid={{webId}} user-notification={{notification}} solid-server={{solidServer}} lang={{lang}}></polymer-solid-login-element>
      </div>
      <br>
      <hr>
    </template>

    <span style="display:inline-flex">
      <h4>{{resourceHeading(lang)}}</h4>
      <button style="position: absolute; right: 0;" on-click="toggleDataBrowserScreen">{{dataBrowserLabel(dataBrowserScreen, lang)}}</button>
    </span>

    <!--template is="dom-if" if="{{dataBrowserScreen}}"-->
    <div hidden$={{!dataBrowserScreen}}>

      <polymer-solid-data-browser-element  base-name={{baseName}} current-path={{currentPath}} path-history={{pathHistory}} rdf-graph={{rdfgraph1}} users-webid=[[webId]] user-notification={{notification}} graph-as-string={{graphAsString}} solid-server={{solidServer}} lang={{lang}}></polymer-solid-data-browser-element>

    <!--/template-->
    </div>

    <hr>

    <div style="display:flex">
      <h4>{{subjectsHeading(lang)}}{{currentPath}}</h4>
      <select id="selectSubject" on-change="subjectSelected">
        <template is="dom-repeat" items="{{subjects}}" as="subject">
          <option>{{subject.uri}}</option>
        </template>
      </select>
      <!--button style="position: absolute; right: 0;" on-click="toggleEditResourceElement">{{editResourceElementLabel(editResourceElement, lang)}}</button-->
      <button style="right:0" on-click="toggleEditResourceElement">{{editResourceElementLabel(editResourceElement, lang)}}</button>
    </div>
    


    <!--hr hidden$={{!settingsScreen}}>

    <div>
      <button style="float:right;" on-click="toggleDataBrowserScreen">{{dataBrowserLabel(dataBrowserScreen, lang)}}</button>
    </div>

    <span hidden$={{!dataBrowserScreen}}>
      <polymer-solid-data-browser-element  base-name={{baseName}} current-path={{currentPath}} path-history={{pathHistory}} rdf-graph={{rdfgraph1}} users-webid=[[webId]] user-notification={{notification}} graph-as-string={{graphAsString}} solid-server={{solidServer}} lang={{lang}}></polymer-solid-data-browser-element>
    </span>

    <hr hidden$={{!dataBrowserScreen}}>

    <div>
      <button style="float:right;" on-click="toggleEditResourceElement">{{editResourceElementLabel(editResourceElement, lang)}}</button>
    </div>
    <select id="selectSubject" style="width:80%;" on-change="subjectSelected">
      <template is="dom-repeat" items="{{subjects}}" as="subject">
        <option>{{subject.uri}}</option>
      </template>
    </select-->

    <template is="dom-if" if="{{editResourceElement}}">

      <div id="dragdiv" draggable=true on-dragend="handleDragend" on-dragstart="handleDragstart" style="position:absolute;left:5%;top:20%;width:90%;background:lightskyblue;border:1px solid black;">

        <polymer-solid-edit-resource-element
            users-webid=[[webId]]
            solid-server={{solidServer}}
            user-notification={{notification}}
            lang={{lang}}
            resource={{resource}}
            rdf-graph={{rdfgraph1}}
            schema-refs=[[schemaRefs]]
            show-edit-resource-diag={{editResourceElement}}
            current-path={{currentPath}}
            show-save-cancel-buttons
            writeable
        >
        </polymer-solid-edit-resource-element>

      </div>
    </template>

    <hr>

    <h4>{{sourceAtLabel(lang)}}{{currentPath}}</h4>
    <polymer-solid-edit-rdf-graph-element rdf-graph={{rdfgraph1}} current-path={{currentPath}} base-name={{baseName}} path-history={{pathHistory}} users-webid=[[webId]] graph-as-string={{graphAsString}} user-notification={{notification}} solid-server={{solidServer}} lang={{lang}}></polymer-solid-edit-rdf-graph-element>

    <hr>

    <div>
      <button style="float:right;" on-click="toggleAclEditorScreen">{{aclEditorLabel(aclEditorScreen, lang)}}</button>
    </div>

    <span hidden$={{!aclEditorScreen}}> 
      <polymer-solid-edit-acl-element acl-graph={{aclGraph}} url=[[currentPath]] acl-url={{aclUrl}} users-webid=[[webId]] acl-as-string={{aclAsString}} user-notification={{notification}} lang={{lang}} solid-server={{solidServer}}></polymer-solid-edit-acl-element>
    </span>

    <h5>[[notification]]</h5>

    <!--div>
      <br><br>
      <button style="float:right;font-size:x-small;" on-click="toggleHelpfulLinks">{{helpfulLinksLabel(helpfulLinks, lang)}}</button>
      <span hidden$={{!helpfulLinks}}>
        <hr>Some links...</hr><br>
        <br>
        <a href="https://github.com/solid/solid" target="_blank" rel="noopener noreferrer">Solid</a><br>
      </span>
    </div-->

  </template>


  <script>
  'use strict'

    class PolymerSolidStarterElement extends PropertiesMixin(Polymer.Element,
        [{name: 'elementName', type: String, value: 'polymer-solid-starter-element'},
          {name: 'lang', notify: true, type: String, value: 'en'},
          {name: 'mouseOverLang', notify: true, type: String, value: 'zh'},
          {name: 'solidServer', type: String, notify: true, value: ''},
          {name: 'settingsScreen', type: Boolean, notify: true, value: false},
          {name: 'dataBrowserScreen', type: Boolean, notify: true, value: false},
          {name: 'aclEditorScreen', type: Boolean, notify: true, value: false}
          //,
          //{name: 'rdfgraph1', type: null, notify: true, value: null}
          
          ]) {

      static get is() { return 'polymer-solid-starter-element' }

      static get observers() {
        return [
          'getResource(rdfgraph1.*)',
          'pathChanged(currentPath, selectedSubject)'
        ];
      }


      handleDragstart(e) {
        //console.log("handleDragstart: "+e);
        this.dragstartClientX = e.clientX;
        this.dragstartClientY = e.clientY;        
      }

      handleDragend(e) {
        //console.log("handleDragend: "+e);
        if (e.target === this.shadowRoot.querySelector('#dragdiv')) {

          // ouch ... TODO: find a better way.  I couldn't get custom CSS variables to work
          var newY = Math.round(
            (
              Number(e.target.style.top.slice(0,-1))/100 + (e.clientY - this.dragstartClientY) / e.target.offsetHeight
            )*100
           )+"%";
          e.target.style.top = newY;

          var newX = Math.round(
              (
                Number(e.target.style.left.slice(0,-1))/100 + (e.clientX - this.dragstartClientX) / e.target.offsetWidth
              )*100
            )+"%";
          e.target.style.left = newX;

          e.preventDefault();
          return false;
        }
      }

      heading(lang) {
        return languages.getString(lang,"polymer-solid-demo");
      }
      resourceHeading(lang) {
        return languages.getString(lang,"resources")+":";
      }
      subjectsHeading(lang) {
        return languages.getString(lang,"subjects for")+": ";
      }
      sourceAtLabel(lang) {
        return languages.getString(lang,"source at")+": ";
      }

      settingsLabel(settingsScreen, lang) {
        if (settingsScreen)
          return languages.getString(lang,"Hide Settings");
        else
          return languages.getString(lang,"Settings");
      }

      dataBrowserLabel(dataBrowserScreen, lang) {
        if (dataBrowserScreen)
          return languages.getString(lang,"Hide Containers");
        else
          return languages.getString(lang,"Show Containers");
      }

      aclEditorLabel(aclEditorScreen, lang) {
        if (aclEditorScreen)
          return languages.getString(lang,"Hide ACL Editor");
        else
          return languages.getString(lang,"Show ACL Editor");
      }

      editResourceElementLabel(editResourceElement, lang) {
        if (!editResourceElement)
          return languages.getString(lang,"View")+" / "+languages.getString(lang,"Edit");
        else
          return languages.getString(lang,"Cancel");
      }

      helpfulLinksLabel(helpfulLinks, lang) {
        if (!helpfulLinks)
          return languages.getString(lang,"Helpful links")+"...";
        else
          return languages.getString(lang,"Cancel");
      }

      toggleSettingsScreen() {
        this.settingsScreen = !this.settingsScreen; 
      }

      toggleDataBrowserScreen() {
        this.dataBrowserScreen = !this.dataBrowserScreen; 
      }

      toggleAclEditorScreen() {
        this.aclEditorScreen = !this.aclEditorScreen; 
      }

      toggleEditResourceElement() {
        this.resource = this.selectedSubject;
        if (this.resource !== null)
          this.editResourceElement = !this.editResourceElement;
      }
      pathChanged(currentPath, selectedSubject) {
        this.resource = null;
        this.editResourceElement = false;
      }

      toggleHelpfulLinks() {
        this.helpfulLinks = !this.helpfulLinks;
      }

      showSaveCancelButtons() {
        if (this.rdfgraph1 !== undefined && this.rdfgraph1 !== null)
          return true;
        else
          return false;
      }

      getKeys(assocArray) {
        var keys = [];
        for (var key in assocArray) {
          if (assocArray.hasOwnProperty(key)) {
            keys.push(key);
          }
        }
        return keys.sort();
      }

      subjectSelected() {
        var BreakException = {};
        try {
          this.subjects.forEach(elem => {
            if (this.$.selectSubject.value == null || this.$.selectSubject.value === "") {
              this.$.selectSubject.value = elem.uri;
              this.selectedSubject = elem;
              throw BreakException;
            }
            else {
              if (elem.uri === this.$.selectSubject.value) {
                this.selectedSubject = elem;
                throw BreakException;
              }
            }
          });
        }
        catch(e) {
          //setTimeout(()=>{this.editResourceElement = false;},0);
          //this.resource = this.selectedSubject;
          //setTimeout(()=>{this.editResourceElement = true;},100);
          console.log(this.selectedSubject);
        }
      }

      getResource(rdfgraph1ChangeRecord) {

        this.set('subjects',[]);
        this.selectedSubject = null;

        if (this.rdfgraph1 !== undefined && this.rdfgraph1 !== null && this.rdfgraph1.statements !== undefined &&
                this.rdfgraph1.statements !== null && this.rdfgraph1.statements.length > 0) {

          //this.set('subjects',[]);
          //this.selectedSubject = null;

          if (this.rdfgraph1.subjectIndex !== undefined &&
                  this.rdfgraph1.subjectIndex !== null) {
            let keys = this.getKeys(this.rdfgraph1.subjectIndex);
            for (let i=0; i<keys.length; i++) {
              let arr = this.rdfgraph1.subjectIndex[keys[i]];
              if (arr !== null && arr.length > 0) {
                this.push('subjects', arr[0].subject);
                if (i===0)
                  this.selectedSubject = arr[0].subject;
              }
              else {
                console.log("can't get resource from graph subject index");
                break;
              }
            }
          }
          else {
            console.log("no statements in graph");
          }
        }
        else {
          console.log("graph is undefined or null or has no statements");
        }
      }

      connectedCallback() {
        super.connectedCallback();

        this.helpfulLinks = false;
        this.editResourceElement = false;

        this.schemaRefs = [

                            //{  url:'https://tag42git.github.io/polymer-solid/schemas/schema.ttl',
                              {  url:'../schemas/schema.ttl',
                              mimeType: 'text/turtle; charset=utf-8',
                              prefixUri: 'http://schema.org/',
                              graph: null }
                            ,
                            //{  url:'https://tag42git.github.io/polymer-solid/schemas/vcard.ttl',
                              {  url:'../schemas/vcard.ttl',
                              mimeType: 'text/turtle; charset=utf-8',
                              prefixUri: 'http://www.w3.org/2006/vcard/ns#',
                              graph: null }

                          ];

        auth.currentSession().then(
          (session)=>{
            if (session == null)
              this.webId = "";
            else
              this.webId = session.webId;
          }
        ).catch((err) => {
          console.log(err);
        });
      }

    } // class PolymerSolidStarterElement

    customElements.define(PolymerSolidStarterElement.is, PolymerSolidStarterElement);

  </script>

</dom-module>
