<!--
  PolymerSolidEditResourceElement
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/debounce.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../properties-mixin/properties-mixin.html">


<!--link rel="import" href="../../bower_components/shadycss/apply-shim.html"-->
<!--link rel="import" href="../../bower_components/polymer/lib/elements/custom-style.html"-->
<!--link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html"-->


<dom-module id="polymer-solid-edit-resource-element">

  <template>
    <style>
      :host {
        display: block;
      }

    </style>

      <template is="dom-if" if="{{showEditResourceDiag}}">

        <template is="dom-if"  if="{{!notCircular}}" on-dom-change="domIfCircular">
          <label>--Resource is either already described or has no properties and may be in another file--</label>
        </template>

        <template is="dom-if"  if="{{notCircular}}" on-dom-change="domIfNotCircular">

          <div style="display:inline">
            <label>{{resource}}{{getSuperTypeRefPath(superTypeRefs.*)}}</label>
            <button style="float:right;" on-click="addResource">{{editResourceLabel()}}</button>
            <button style="float:right;" on-click="expandOrCollapse">{{expandedOrCollapsedLabel(subresourcesExpanded)}}</button>
          </div>

          <div id="editResourceDiag" hidden$="{{!showItems(subresourcesExpanded)}}">

            <div style="display:block;border:1px solid green;margin-left:1%;margin-bottom:2%;margin-right:2%">

              <template is="dom-repeat" items="{{getResourceProperties(schemaGraphsOk, superTypeRefs.*, resourceStack.*)}}" as="item" on-rendered-item-count-change="domRepeatRenderedItemCountChanged">

                <label>{{item.property}}</label>
    <!--label>{{item.typeOfObject}}</label-->
                <template is="dom-if" if="{{item.isPropertyResource}}" on-dom-change="domIfPropertyResource">

                  <div style="border:1px solid green;margin-top:3%;margin-bottom:3%;">

                    <label>{{item.typeOfObject}}</label>

                    <div style="display:inline">
                      <button style="float:right;" on-click="deleteResource" data-item="{{item}}">{{deleteResourceLabel()}}</button>
                      <!--button style="float:right;" on-click="addResource">{{editResourceLabel()}}</button-->

                    </div>

                    <polymer-solid-edit-resource-element
                      users-webid=[[usersWebid]]
                      solid-server={{solidServer}} 
                      user-notification={{userNotification}} 
                      lang={{lang}} 
                      resource=[[item.value]]
                      rdf-graph={{rdfGraph}}
                      schema-refs={{schemaRefs}}
                      resource-stack={{resourceStack}}
                      writeable={{writeable}}
                      >
                    </polymer-solid-edit-resource-element>

                  </div>

                </template>

                <template is="dom-if" if="{{item.isPropertyBoolean}}">
                </template>

                <template is="dom-if" if="{{item.isPropertyDate}}">
                </template>

                <template is="dom-if" if="{{item.isPropertyDateTime}}">
                </template>

                <template is="dom-if" if="{{item.isPropertyTime}}">
                </template>

                <template is="dom-if" if="{{item.isPropertyNumber}}">
                </template>

                <template is="dom-if" if="{{item.isPropertyText}}" on-dom-change="domIfPropertyText">
                  <textarea style="display:inline;width:90%" value="{{item.value}}" on-keyup="textareaKeyup" data-item="{{item}}"></textarea>
                  <div style="display:inline">
                    <button style="float:right;" on-click="deleteProperty" data-item="{{item}}">{{deleteResourceLabel()}}</button>
                  </div>

                </template>

                <template is="dom-if" if="{{item.isPropertyDataType}}">
                </template>

                <template is="dom-if" if="{{item.isPropertyImage}}">
                </template>

                <template is="dom-if" if="{{item.isPropertyVideo}}">
                </template>

                <template is="dom-if" if="{{item.isPropertyAudio}}">
                </template>

              </template>

            </div>

            <template is="dom-if" if="{{showSaveCancelButtons}}">

              <!-- needed this to preceed floating buttons with this non-empty label to make them draggable.  TODO: learn why -->
              <label>.</label>

              <button style="float:right" id="resourceCancelButton" type="button" on-click="cancelEditOrCreate">{{cancelLabel(lang)}}</button>
              <div style="float:right" hidden$="{{!writeable}}">
                <button id="resourceSaveButton" type="button" on-click="saveResource">{{saveLabel(lang)}}</button>
                <!--button id="resourceSaveAsButton" type="button" on-click="saveResourceAs">{{saveAsLabel(lang)}}</button-->
              </div>

            </template>

          </div>

        </template>

      </template>

  </template>

  <script>
    'use strict'

    class PolymerSolidEditResourceElement extends PropertiesMixin(Polymer.Element,
        [{name: 'elementName', type: String, value: 'polymer-solid-edit-resource-element'},
        {name: 'usersWebid', type: String, value: '', notify: true},
        {name: 'solidServer', type: String, notify: true},
        {name: 'lang', notify: true, type: String, value: 'en'},
        {name: 'userNotification', type: String, notify: true},

        {name: 'schemaRefs', type: null, notify: true, 
                    value: [
                              //{  url:'https://tag42git.github.io/polymer-solid/schemas/schema.ttl',
                              {  url:'../schemas/schema.ttl',
                              mimeType: 'text/turtle; charset=utf-8',
                              prefixUri: 'http://schema.org/',
                              graph: null }
                            ]
        },

        {name: 'superTypeRefs', type: null, notify: true, value: null},
        {name: 'schemaGraphsOk', type: Boolean, notify: true, value: false},
        {name: 'rdfGraph', type: null, notify: true, value: null},
        {name: 'resource', type: null, notify: true, value: null},
        {name: 'resourceStack', type: null, notify: true, value: null},
//        {name: 'myId', type: String, notify: true},
        {name: 'currentPath', type: String, notify: true, value: ''},
        {name: 'showEditResourceDiag', type: Boolean, notify: true, value: true},
        {name: 'showSaveCancelButtons', type: Boolean, notify: true, value: false},
        {name: 'writeable', type: Boolean, value: false}
        ]) {

      static get is() { return 'polymer-solid-edit-resource-element' }

      static get observers() {
        return [
          'getSuperTypeRefs(schemaGraphsOk, rdfGraph.*, resource.*, schemaRefs.*)',
          'getSchemaGraphs(schemaRefs.*)'
        ];
      }


      constructor() {
        super();

//        if (PolymerSolidEditResourceElement.instanceCount === undefined) {
//          PolymerSolidEditResourceElement.instanceCount = 0;
//        }

//        PolymerSolidEditResourceElement.instanceCount++;
//        this.myId = "instance_" + PolymerSolidEditResourceElement.instanceCount;


//console.log("\n\n********** PolymerSolidEditResourceElement.constructor: id= "+this.getAttribute("id")+", myId= "+this.myId+
//              ", shadowChildId= "+this.shadowChildId(this.myId)+", resource= "+this.resource+"\n\n\n");

        this.notCircular = false;  // circular until proven not circular

        if (this.resourceStack == null) {
          this.set('resourceStack',[]);
        }
      }

      domIfPropertyResource(e) {
        var item = e.model.item;
        //console.log(item);
      }

      domIfPropertyText(e) {
        var item = e.model.item;
        //console.log(item);
      }

      domRepeatRenderedItemCountChanged(e) {
        //console.log(e);
      }

      domIfCircular(e) {
        //console.log(e);
      }

      domIfNotCircular(e) {
        //console.log(e);
      }

      expandOrCollapse() {
        this.subresourcesExpanded = !this.subresourcesExpanded;
      }
      
      showItems(subresourcesExpanded) {
        return subresourcesExpanded;
      }

      getSuperTypeRefPath(superTypeRefCR) {
        var path = "";
        if (this.superTypeRefs !== undefined && this.superTypeRefs !== null && this.superTypeRefs.length > 0) {
          path = " : ";
          let lastWasSemicolon = false;
          for (let i=0; i<this.superTypeRefs.length; i++) {
            if (this.superTypeRefs[i] === ";") {
              if (!lastWasSemicolon)
                path += "; ";
              lastWasSemicolon = true;
              continue;
            }
            else
              lastWasSemicolon = false;
            if (path.length !== 0 && path.endsWith("; ") !== true && path.endsWith(": ") !== true)
              path += "=>";
            let t = this.superTypeRefs[i].typeUrl;
            if (t.startsWith(this.superTypeRefs[i].schemaRef.prefixUri))
              t = t.slice(this.superTypeRefs[i].schemaRef.prefixUri.length);
            path += t;
          }
        }
        return path;
      }

      getResourceProperties(schemaGraphsOk, superTypeRefsChangeRecord, resourceStackChangeRecord) {

        var arr = [];

        //if (this.resource !== null && this.resource.termType === "NamedNode") {
        if (this.rdfGraph !== null && this.resource !== undefined && this.resource !== null && (this.resource.termType === "NamedNode" || this.resource.termType === "BlankNode")) {
          let statements = this.rdfGraph.subjectIndex[this.resource];

          if (statements !== undefined && statements !== null) {
            statements.forEach(st => {
              var item = {property:st.predicate.uri, value: st.object, statement: st};
              if (st.object.termType === "Literal") {
                item.isPropertyText = true;
              }
              else {
                //if (st.object.termType === "NamedNode") {
                if (st.object.termType === "NamedNode" || st.object.termType === "BlankNode") {
                  item.isPropertyResource = true;

                  let stsObj = this.rdfGraph.statementsMatching(st.object,
                              RDF("type"),undefined);
                  stsObj.forEach(stObj => {
                    item.typeOfObject = stObj.object.uri;
                    if (this.superTypeRefs !== undefined && this.superTypeRefs !== null) {
                      for (let i=0; i<this.superTypeRefs.length; i++) {
                        if (this.superTypeRefs[i] !== ";") {
                          let prefixUri = this.superTypeRefs[i].schemaRef.prefixUri;
                          if (item.typeOfObject.startsWith(prefixUri)) {
                            item.typeOfObject = item.typeOfObject.slice(prefixUri.length);
                            break;
                          }
                        }
                      }
                    }
                  });
                }
                else {
                  if (st.object.termType === "formula") {
                    console.log(st.object+" is a formula");
                  }
                }
              }

              if (this.resourceStack !== null && this.resourceStack.length > 0) {
                if (item.isPropertyResource) {
                  if (this.arrIncludes(this.resourceStack,item)===false)
                    arr.push(item);
                }
                else
                  arr.push(item);
              }
              else
                arr.push(item);


            });
          }
        }    
        return arr;
      }

      setUpResourceStack() {
        if (this.resourceStack == null)
          this.set('resourceStack',[]);

        if (this.resourceStack.length > 0) {
          if (this.arrIncludes(this.resourceStack,this.resource)===false) {
            this.push('resourceStack',this.resource);
            this.notCircular = true;
            this.subresourcesExpanded = false;
         }
        }
        else {
          this.subresourcesExpanded = true;
          this.push('resourceStack',this.resource);
          this.notCircular = true;
        }
      }

      arrIncludes(arr,obj) {

        // TODO: this type of array probably should be in a class
        //
        // array objects and new objects could be a mix of 'nodes' (in rdflib lingo) or 'items' (in my lingo)...
        //  ('items' have typeOfObject (stripped of namespace for readability), value (node) and...
        //      property (predicate of subject having this as object)

        let inArr = false;

        let resInObj = obj;
        let objIsItem = false;
        if (obj.typeOfObject !== undefined) {
          resInObj = obj.value;
          objIsItem = true;
        }
        for (let kk=0; kk<arr.length; kk++) {
          let resInArr = arr[kk];
          let resIsItem = false;
          if (arr[kk]!==null && arr[kk].typeOfObject !== undefined) {
            resIsItem = true;
            resInArr = arr[kk].value
          }
          if (JSON.stringify(resInArr)===JSON.stringify(resInObj)) {
            if (objIsItem===false || (obj.typeOfObject === undefined && resIsItem === true && arr[kk].typeOfObject !== undefined)) {
              // don't replace a defined one with an undefined one with the same node
//              console.log(" ******* replacing an undefined entry in resourceStack with defined one with the same node");
              inArr = true;
              break;
            }
            else {
              if (objIsItem===true && obj.typeOfObject!==undefined && 
                    resIsItem===true && arr[kk].typeOfObject===undefined) {
                // replace an undefined one with defined one with the same node
//                console.log(" ******* not replacing an undefined entry in resourceStack with defined one with the same node");
                arr = arr.splice(kk,1);
                return false;
              }
            }
          }
        }
        return inArr;
      }

      addResource() {
        alert(languages.getString(this.lang,"not implemented yet"));
        console.log("add resource or property");
      }

      textareaKeyup(e) {
        console.log("textarea changed: "+e.target.dataItem.value);
        this.rdfGraph.remove(e.target.dataItem.statement);
        e.target.dataItem.statement.object = rdflib.literal(e.target.value);
        this.rdfGraph.add(e.target.dataItem.statement);  
      }

      deleteResource(e) {
        console.log("delete resource: "+e.target.dataItem.value);
        this.rdfGraph.statementsMatching(this.resource,rdflib.sym(e.target.dataItem.property),e.target.dataItem.value).forEach(st=>{
          //setTimeout(()=>{
            this.rdfGraph.remove(st);
            setTimeout(()=>{

              // note: this did not work without the 'changed' param, which I couldn't find in polymer docs, found at
              // https://stackoverflow.com/questions/37341743/how-can-i-force-a-template-update-in-polymer#37343860
              //
              //  this.notifyPath('rdfGraph.*');
              //
              // TODO: understand polymer events better, and maybe report this as an issue with notifyPath or with the docs

              this.notifyPath('rdfGraph.*','changed');
            });
        });
      }

      deleteProperty(e) {
        console.log("delete property: "+e.target.dataItem.property);
        this.rdfGraph.statementsMatching(this.resource,rdflib.sym(e.target.dataItem.property),e.target.dataItem.value).forEach(st=>{
          //setTimeout(()=>{
            this.rdfGraph.remove(st);
            setTimeout(()=>{

              // note: this did not work without the 'changed' param, which I couldn't find in polymer docs, found at
              // https://stackoverflow.com/questions/37341743/how-can-i-force-a-template-update-in-polymer#37343860
              //
              //  this.notifyPath('rdfGraph.*');
              //
              // TODO: understand polymer events better, and maybe report this as an issue with notifyPath or with the docs

              this.notifyPath('rdfGraph.*','changed');
            });
        });
      }

      saveResource() {
        console.log("save resource");
        if (confirm(this.confirmOverwriteLabel(this.lang)+" "+this.currentPath+" ?") !== true) {
          return;
        }

        var mimeType = this.getMimeType(this.currentPath);
        var that = this;
        rdflib.serialize(rdflib.sym(this.currentPath), this.rdfGraph, this.currentPath, mimeType, function(err, str) {

            if (err !== undefined && err != null) {
              console.log(err);
            }

            if (str === undefined || str == null)
              return;

            // unescape utf-16 to display chinese etc.
            var r = /\\u([\d\w]{4})/gi;
            str = str.replace(r, function (match, grp) {
                return String.fromCharCode(parseInt(grp, 16)); } );

            that.solidPut(that.currentPath, str, mimeType).then(()=>{
                that.userNotification = that.successfullySavedLabel(that.lang)+that.currentPath+", webId= "+that.usersWebid;
              });

        });
      }

      saveResourceAs() {
        console.log("save resource as ...");
      }

      cancelEditOrCreate() {
        //read the graph back in from the resource

        return this.solidReq(this.currentPath, {method: "GET"}, "read", 
            (str)=>{
              //console.log(str);
              this.userNotification = this.successfullyReadLabel(this.lang)+this.currentPath+", webId= "+this.usersWebid;

              if (this.currentPath.endsWith(".ttl") || this.currentPath.endsWith(".rdf") || this.currentPath.endsWith("/")) {
                var store = rdflib.graph();
                try {
                  rdflib.parse(str, store, this.currentPath, this.currentPath.endsWith(".rdf")?"application/rdf+xml":"text/turtle");
                  this.rdfGraph = store;
                  this.showEditResourceDiag = false;
                  return store;
                }
                catch(e) {
                  this.userNotification = this.cantReadLabel(this.lang)+this.currentPath+this.becauseLabel(this.lang)+e+", webId= "+this.usersWebid;
                }
              }
              else {
                //TODO: rdfa, json etc
                console.log("not ttl or rdf");
              }
              this.showEditResourceDiag = false;
            },
            (err)=>{
              console.log(err);
              this.userNotification = this.cantReadLabel(this.lang)+this.currentPath+this.becauseLabel(this.lang)+err+", webId= "+this.usersWebid;
            }
        );

      }


      getSuperClassesWithPrefix(schemaref, resUri) {
        var ret = [];
        
        let subclassOfStmnts = schemaref.graph.statementsMatching(rdflib.sym(resUri), RDFS("subClassOf"), undefined);
        for (let i=0; subclassOfStmnts !== undefined && subclassOfStmnts !== null && i<subclassOfStmnts.length; i++) {
          if (subclassOfStmnts[i].object.uri !== undefined && subclassOfStmnts[i].object.uri.startsWith(schemaref.prefixUri)===true) {
            let superClass = subclassOfStmnts[i].object;
            //console.log("getSuperClassesWithPrefix: superClass= "+superClass);
            ret.push({typeUrl:superClass.uri, schemaRef: schemaref});
            ret = ret.concat(this.getSuperClassesWithPrefix(schemaref, superClass.uri));
          }
        }
        return ret;
      }

      getTypesAndSuperClassesWithPrefix(graph, schemaref, res) {
        var ret = [];

        var typeStmnts;
        try {
          typeStmnts = graph.statementsMatching(res, RDF("type"), undefined);
        }
        catch(e) {
          console.log("getTypesAndSuperClassesWithPrefix: exception: "+e);
          return null;
        }
        for (let i=0; typeStmnts !== undefined && typeStmnts !== null && i<typeStmnts.length; i++) {
          if (typeStmnts[i].object.uri !== undefined && typeStmnts[i].object.uri.startsWith(schemaref.prefixUri)===true) {
            ret.push({typeUrl: typeStmnts[i].object.uri, schemaRef: schemaref});
            var adds = this.getSuperClassesWithPrefix(schemaref, typeStmnts[i].object.uri);
            if (adds !== undefined && adds !== null && adds.length > 0) {
              ret = ret.concat(adds);
              ret.push(";");
            }
          }
        }
        return ret;

      }

      getSuperTypeRefs(schemaGraphsOk, rdfGraphChangeRecord, resourceChangeRecord, schemaRefsChangeRecord) {
        
        if (this.schemaGraphsOk===true && this.resource !== undefined && this.resource !== null && this.resource.termType !== "formula" && this.rdfGraph !== null) {
          this.superTypeRefs = [];
          for (let i=0; i<this.schemaRefs.length; i++) {
            if (this.schemaRefs[i].graph !== undefined && this.schemaRefs[i].graph !== null) {
              //superTR = superTR.concat(
              var adds = this.getTypesAndSuperClassesWithPrefix(this.rdfGraph,
                                                                           this.schemaRefs[i],
                                                                           this.resource);
              if (adds !== undefined && adds !== null && adds.length > 0) {
                this.superTypeRefs = this.superTypeRefs.concat(adds);
                adds.push(";");
              }

              this.notifyPath('superTypeRefs.*');
            }
          }
        }
      }

      checkSchemaGraphsOk() {
        let graphsGot = 0;
        for (let i=0; i<this.schemaRefs.length; i++)
          if (this.schemaRefs[i].graph !== undefined && this.schemaRefs[i].graph !== null)
            graphsGot++;
        if (graphsGot === this.schemaRefs.length)
          this.schemaGraphsOk = true;
        else
          this.schemaGraphsOk = false;
      }

      getSchemaGraphs(schemaRefsChangeRecord) {

        //console.log("getSchemaGraphs: this.myId= "+this.myId);

        if (this.schemaRefs === undefined || this.schemaRefs == null)
          return;

        for (let i=0; i<this.schemaRefs.length; i++) {

          if ((this.schemaRefs[i].graph !== undefined && this.schemaRefs[i].graph !== null) || this.schemaRefs[i].fetching===true)
            continue;

          this.schemaRefs[i].fetching = true;

          fetch(this.schemaRefs[i].url, {headers: {"Content-Type": this.schemaRefs[i].mimeType}})
          .then(response=>response.text())
          .then(
            contents=>{

              try {
                this.schemaRefs[i].graph = rdflib.graph();
                rdflib.parse(contents, this.schemaRefs[i].graph, this.schemaRefs[i].prefixUri, this.schemaRefs[i].mimeType);
                this.checkSchemaGraphsOk();
              } catch (err) {
                  console.log("can't get graph for "+this.schemaRefs[i].prefixUri+": "+err)
              }
              this.schemaRefs[i].fetching = false;
            })
            .catch(()=>{
                console.log("Can't access "+this.schemaRefs[i].url);
                this.schemaRefs[i].fetching = false;
            });
        }
        this.checkSchemaGraphsOk();
      }


      connectedCallback() {
//console.log("\n\n********** PolymerSolidEditResourceElement.connectedCallback: id= "+this.getAttribute("id")+", myId= "+this.myId+
//              ", shadowChildId= "+this.shadowChildId(this.myId)+", resource= "+this.resource+"\n\n\n");
        super.connectedCallback();

        this.getSchemaGraphs();
        this.setUpResourceStack();
      }

      disconnectedCallback() {
//console.log("\n\n********** PolymerSolidEditResourceElement.disconnectedCallback: id= "+this.getAttribute("id")+", myId= "+this.myId+
//              ", shadowChildId= "+this.shadowChildId(this.myId)+", resource= "+this.resource+"\n\n\n");  
        super.disconnectedCallback();
      }

      expandedOrCollapsedLabel(subresourcesExpanded) {
        if (subresourcesExpanded)
          return "\u25b2";
        else
          return "\u25bc";
      }

      deleteResourceLabel() {
        return "\u2718";
      }

      editResourceLabel() {
        return "\u270e";
      }

      saveLabel(lang) {
        return languages.getString(lang,"Save");
      }

      saveAsLabel(lang) {
        return languages.getString(lang,"Save as");
      }

      okLabel(lang) {
        return languages.getString(lang,"Ok");
      }
      cancelLabel(lang) {
        return languages.getString(lang,"Cancel");
      }
      cantReadLabel(lang) {
        return languages.getString(lang, "can't read ");
      }
      becauseLabel(lang) {
        return languages.getString(lang, " because: ");
      }
      successfullyReadLabel(lang) {
        return languages.getString(lang, "successfully read ");
      }
      successfullySavedLabel(lang) {
        return languages.getString(lang, "successfully saved ");
      }
      confirmOverwriteLabel(lang) {
        return languages.getString(lang,"Are you sure you want to overwrite");
      }

    } // class PolymerSolidEditResourceElement

    customElements.define(PolymerSolidEditResourceElement.is, PolymerSolidEditResourceElement);

  </script>

</dom-module>
