<!--
  PolymerSolidCreateResourceElement

  // TODO: other polymer-solid elements should be refactored to use this if it makes them simpler
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/debounce.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../properties-mixin/properties-mixin.html">

<dom-module id="polymer-solid-create-resource-element">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>


  </template>

  <script>
    'use strict'

    class PolymerSolidCreateResourceElement extends PropertiesMixin(Polymer.Element, 
        [{name: 'elementName', type: String, value: 'polymer-solid-create-resource-element'},
        {name: 'suggestedPath', type: String, value: undefined, notify: true, observer: 'triggered'},
        {name: 'whenFinished', type: null, value: undefined, notify: true},
        {name: 'baseName', type: String, notify: true, value: undefined},
        {name: 'pathHistory', type: null, notify: true, value: undefined},
        {name: 'currentPath', type: String, notify: true, value: ''},
        {name: 'isContainer', type: Boolean, value: false},
        {name: 'confirm', type: Boolean, value: false},
        {name: 'returnValue', type: null, value: undefined, notify: true},
        {name: 'usersWebid', type: String, value: '', notify: true},
        {name: 'solidServer', type: String, notify: true},
        {name: 'userNotification', type: String, value: '', notify: true},
        {name: 'lang', notify: true, type: String, value: 'en'}]) {

      static get is() { return 'polymer-solid-create-resource-element' }

      
      triggered() {
        this.debounce(()=> {
            this.createContainerOrResource();
          });
      }

      invalidPath(path) {
        if (path.includes("\\"))
          return true;
        return false;
      }

      // this is not a dup of the one in polymer-solid-data-browser-element
      getPathStackFromString(str) {
        if (str===undefined || str ==null)
          return [];
        else {
          if (str.startsWith(this.solidServer))
            str = str.slice(this.solidServer.length);
          if (str.startsWith("/"))
            str = str.slice(1);
          var pathStack = []
          pathStack.push(""); // root of solidServer has empty path, other elements expect this to be at the bottom of the stack
          pathStack = pathStack.concat(str.split("/"));

          // leave off resource or container name
          pathStack = pathStack.slice(0,pathStack.length-1);
          for (var i=0; i<pathStack.length; i++)
            pathStack[i] += "/";
          return pathStack;
        }
      }

      //TODO: this is probably a dup of the one in polymer-solid-data-browser-element, so it should go in properties-mixin
      getPathHistoryStr() {
        if (this.pathHistory===undefined || this.pathHistory ==null)
          return "";
        else {
          var dirStr = "";
          for (let i=0; i<this.pathHistory.length; i++) {
            if (this.pathHistory[i] !== "") {
              if (this.pathHistory[i].endsWith("/"))
                dirStr += this.pathHistory[i];
              else
                dirStr += this.pathHistory[i] + "/";
            }
          }
          return dirStr;
        }
      }

      createContainerOrResource() {

        if (this.suggestedPath===undefined)
          return;

        if (this.invalidPath(this.suggestedPath)) {
          alert(this.invalidContainerOrResourceNameLabel(this.lang));
          this.returnValue = invalidContainerOrResourceNameLabel(lang);
          this.whenFinished();
          return;
        }

        var name = this.basename(this.suggestedPath);
        var containingUri = this.suggestedPath.substring(0,this.suggestedPath.lastIndexOf(name));        

        var addToPathHistory = [];

        if (this.suggestedPath.indexOf("/") >= 0) {
          addToPathHistory = this.getPathStackFromString(this.suggestedPath);
        }

        if (this.confirm && confirm(this.confirmCreateLabel(this.lang)+this.suggestedPath+" ?") !== true) {
          this.returnValue = invalidContainerOrResourceNameLabel(lang);
          this.whenFinished();
          return;
        }

        const request = auth.fetch(this.suggestedPath, {method: "HEAD"});
        return request.then(
          response => {
            if (response.ok == true) {
              this.returnValue = this.resourceAlreadyExistsLabel(this.lang);
              this.whenFinished();
              return;
            }

            this.solidCreateNew(containingUri, name, this.isContainer?true:false).then(
              (ok)=>{
                if (ok) {
                  //console.log("created "+containingUri+name);

                  if (this.pathHistory === undefined || this.pathHistory == null)
                    this.pathHistory = [];

                  if (addToPathHistory.length > 0) {
                    var addPaths = addToPathHistory.slice(0);
                    for (var i=0; i<addToPathHistory.length; i++) {
                      // pathHistory does not include current path, so check i>0
                      if (addToPathHistory[i] === "../") {
                        if (i>0) {
                          this.pathHistory.pop();
                        }
                        addPaths = addPaths.slice(1);
                      }
                      else {
                        break;
                      }
                    }
                    this.pathHistory = this.pathHistory.concat(addPaths);
                    this.baseName = this.basename(name);
                  }
                  else {
                    this.pathHistory.push(this.baseName);
                    this.baseName = name;
                  }
                  if (this.isContainer == true && this.baseName.endsWith("/")!==true) {
                    this.baseName += "/"
                  }
                  this.currentPath = this.solidServer+'/'+this.getPathHistoryStr()+name;
//this.currentPath = this.solidServer+'/'+this.getPathHistoryStr()+this.baseName;
                  this.returnValue = "success";
                  setTimeout(this.notifyPath('baseName'));
                  this.whenFinished();
                }
                else {
                  console.log("could't create "+containingUri+name);
                  //alert(this.invalidContainerOrResourceNameLabel(this.lang));
                  this.returnValue = this.invalidContainerOrResourceNameLabel(this.lang);
                  this.whenFinished();
                }
              });
          }
        );
      }

      connectedCallback() {

        super.connectedCallback();

      }

      invalidContainerOrResourceNameLabel(lang) {
        return languages.getString(lang, "Sorry, but this is an invalid container or resource name.");
      }
      confirmCreateLabel(lang) {
        return languages.getString(lang, "Do you want to create ");
      }
      resourceAlreadyExistsLabel(lang) {
        return languages.getString(lang,"The resource already exists");
      }

    } // class PolymerSolidCreateResourceElement

    customElements.define(PolymerSolidCreateResourceElement.is, PolymerSolidCreateResourceElement);

  </script>

</dom-module>
