<!--
  PolymerSolidUserPreferencesElement
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/debounce.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../properties-mixin/properties-mixin.html">

<dom-module id="polymer-solid-user-preferences-element">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>

  </template>

  <script>
    'use strict'

    class PolymerSolidUserPreferencesElement extends PropertiesMixin(Polymer.Element, 
        [{name: 'elementName', type: String, value: 'polymer-solid-user-preferences-element'},
        {name: 'preferencesGraph', type: null, value: null, notify: true}, //passed back, graph with user preferences,
                                                                           //... from prefs on user's pod...
                                                                            // may or may not be solidServer
        {name: 'cardGraph', type: null, value: null, notify: true},  // passed back, graph from webId document on user's pod
        {name: 'storageUrl', type: String, value: null, notify: true},  // passed back, relative to solidServer, not nec. user's pod
        {name: 'whenFinished', type: null, value: undefined, notify: true},
        {name: 'returnValue', type: null, value: undefined, notify: true},
        {name: 'usersWebid', type: String, value: '', notify: true, observer:'triggered'},
        {name: 'solidServer', type: String, notify: true, observer:'triggered'},
        {name: 'userNotification', type: String, value: '', notify: true},
        {name: 'lang', notify: true, type: String, value: 'en'}]) {

      static get is() { return 'polymer-solid-user-preferences-element' }

      
      triggered() {
        this.debounce(()=> {
          this.getPreferencesGraph();
        });
      }

      getPreferencesGraph() {

        //console.log("getPreferences");

        if (this.usersWebid==null || this.usersWebid=="") {
          this.userNotification = this.cantReadLabel(this.lang)+cardPath+this.becauseLabel(this.lang)+" webId= "+this.usersWebid;
          //this.returnValue = this.userNotification;
          //this.whenFinished();
          return;
        }

        var cardPath = this.usersWebid.split('#').length > 1 ? this.usersWebid.split('#')[0] : this.usersWebid;
  
        return this.solidReq(cardPath, {method: "GET"}, "read", 
            (str)=>{
              //console.log(str);
              this.userNotification = this.successfullyReadLabel(this.lang)+cardPath+", webId= "+this.usersWebid;

              //var cardStore = solid.rdflib.graph();
              var cardStore = rdflib.graph();
              //solid.rdflib.parse(str, cardStore, cardPath, "text/turtle");
              rdflib.parse(str, cardStore, cardPath, "text/turtle");
              this.cardGraph = cardStore;

              this.storageUrl = "";
              var storageSt = null;
              var storageStmnts = cardStore.statementsMatching(undefined,PIM("storage"));
              for (var i=0; storageStmnts !== undefined && storageStmnts !== null && i<storageStmnts.length; i++) {
                if (storageStmnts[i].subject.uri.startsWith(cardPath)) {
                  storageSt = storageStmnts[i];
                  break;
                }
              }
              if (storageSt == null) {
                //TODO user has no storage
                this.userNotification = this.cantReadLabel(this.lang)+PIM("storage")+", webId= "+this.usersWebid;
                return;
              }
              var cardPathOrigin = cardPath.split("/")[0] + "//" + cardPath.split("/")[2];
              var rel;
              if (storageSt.object.value.startsWith(cardPathOrigin)) {
                rel = storageSt.object.value.substring(cardPathOrigin.length);
              }
              else {
                rel = storageSt.object.value;
              }
              this.storageUrl = this.solidServer + "/" + (rel.startsWith("/")?rel.slice(1):rel);

              var prefSt = null
              var prefStmnts = cardStore.statementsMatching(undefined,PIM("preferencesFile"));
              for (var i=0; prefStmnts !== undefined && prefStmnts !== null && i<prefStmnts.length; i++) {
                if (prefStmnts[i].subject.uri.startsWith(cardPath)) {
                  prefSt = prefStmnts[i];
                  break;
                }
              }
              if (prefSt == null) {
                //TODO user has no preferences
                this.userNotification = this.cantReadLabel(this.lang)+cardPath+", webId= "+this.usersWebid;
                return;
              }

              var relPrefs;
              if (prefSt.object.value.startsWith(cardPathOrigin)) {
                relPrefs = prefSt.object.value.substring(cardPathOrigin.length);
              }
              else {
                relPrefs = prefSt.object.value;
              }
              //var prefPath = this.solidServer + "/" + (relPrefs.startsWith("/")?relPrefs.slice(1):relPrefs);
              var prefPath = cardPathOrigin + "/" + (relPrefs.startsWith("/")?relPrefs.slice(1):relPrefs);

              this.solidReq(prefPath, {method: "GET"}, "read", 
                  (str)=>{
                    //console.log(str);
                    this.userNotification = this.successfullyReadLabel(this.lang)+prefPath+", webId= "+this.usersWebid;

                    //var prefStore = solid.rdflib.graph();
                    //solid.rdflib.parse(str, prefStore, prefPath, "text/turtle");
                    var prefStore = rdflib.graph();
                    rdflib.parse(str, prefStore, prefPath, "text/turtle");

                    this.preferencesGraph = prefStore;
                    this.returnValue = "success";
                    this.whenFinished();

                  },
                  (err)=>{
                    //console.log(err);
                    this.userNotification = this.cantReadLabel(this.lang)+prefPath+this.becauseLabel(this.lang)+err+", webId= "+this.usersWebid;
                  }
              );

            },
            (err)=>{
              //console.log(err);
              this.userNotification = this.cantReadLabel(this.lang)+cardPath+this.becauseLabel(this.lang)+err+", webId= "+this.usersWebid;
            }
        );
      }

      connectedCallback() {

        super.connectedCallback();

      }

      cantReadLabel(lang) {
        return languages.getString(lang, "can't read ");
      }
      successfullyReadLabel(lang) {
        return languages.getString(lang, "successfully read ");
      }
      becauseLabel(lang) {
        return languages.getString(lang, " because: ");
      }

    } // class PolymerSolidUserPreferencesElement

    customElements.define(PolymerSolidUserPreferencesElement.is, PolymerSolidUserPreferencesElement);

  </script>

</dom-module>
