<!--
  PolymerSolidEditAclElement
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../properties-mixin/properties-mixin.html">

<dom-module id="polymer-solid-edit-acl-element">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--h4>[[elementName]]</h4-->
    <!--label style="vertical-align:top">Rdf graph:</label-->
    <!--textarea cols=150 rows=10 value="[[aclAsString]]"></textarea-->
    <textarea id="text1" style="width:100%;height:30vh" value="{{aclAsString}}" on-keydown="onKeyDown"></textarea>
    <div style="display:inline" hidden$="{{!isModified}}">
      <button on-click="cancelled" hidden$="{{!isModified}}">{{discardChangesLabel(lang)}}</button>
      <button on-click="save" hidden$="{{!isModified}}">{{saveLabel(lang)}}</button>
    </div>
  </template>

  <script>
    'use strict'

    class PolymerSolidEditAclElement extends PropertiesMixin(Polymer.Element, 
        [{name: 'elementName', type: String, value: 'polymer-solid-edit-acl-element'},
        {name: 'usersWebid', type: String, value: '', notify: true, observer: 'displayGraph'},
        {name: 'aclGraph', type: null, notify: true, value: null},
        {name: 'url', type: String, notify: true, value: '', observer: 'displayGraph'},
        {name: 'aclUrl', type: String, notify: true, value: ''},
        {name: 'aclAsString', type: String, notify: true, value: '',observer: 'displayGraph'},
        {name: 'solidServer', type: String, notify: true, observer: 'displayGraph'},
        {name: 'lang', notify: true, type: String, value: 'en'},
        {name: 'userNotification', type: String, notify: true}]) {

      static get is() { return 'polymer-solid-edit-acl-element' }

      displayGraph() {
        this.debounce(()=> {

          if (this.url !== null) {
            this.getAclUrl().then(
              (aclUrl)=>{
                if (aclUrl!==undefined && aclUrl !==null && aclUrl !== "") {
                  this.aclUrl = this.pathTo(this.url)+aclUrl;
                  this.getAcl(this.aclUrl).then((ret)=> {
                    if (ret!==undefined && ret!==null) {
                      this.$.text1.value = ret.str;
                      this.aclGraph = ret.store;

                      setTimeout(()=>{          
                        this.canWrite().then(
                          (canWrite)=>{
                            if (canWrite) {
                              setTimeout(()=>{this.okWrite()});
                            }
                            else {
                              setTimeout(()=>{this.preventWrite()});
                            }
                        });
                      });

                    }
                  });
                }
              },
              ()=>{
                console.log("can't get acl url");
              });
          }

        });
      }


      getAclUrl() {

        const request = auth.fetch(this.url, {method: "HEAD"});
        return request.then(
          response => {
            if (response.ok == true) {

              var link = response.headers.get('Link');

              if (link != null) {

                // <.acl>; rel="acl"
                var matches = link.match(/\<(.*?)\>\s*;\s*rel\s*=\s*"acl"/);
                if (matches && matches.length > 1) {
                  var aclUrl = matches[1];
                  return aclUrl;
                }
              }
              this.userNotification = this.cantGetAclUrlForLabel(this.lang)+this.aclUrl+", webId= "+this.usersWebid;
            }
            else {
              this.userNotification = this.cantGetAclUrlBecauseLabel(this.lang)+response.statusText+", webId= "+this.usersWebid;
              return null;
            }
          },
          reason => {
            this.userNotification = this.cantGetAclUrlReasonLabel(this.lang)+" "+reason;
            return null;
          }
        );

      }

      noWrite() {
        var txta = this.$.text1;
        if (txta !== undefined && txta != null) {
          txta.setAttribute("readonly",true);
        }
        this.setModified(false);
      }

      okWrite() {
        var txta = this.$.text1;
        if (txta !== undefined && txta != null) {
          txta.removeAttribute("readonly");
          txta.removeAttribute("disabled");
        }
      }

      allowWrite(e) {
        this.okWrite();
        this.setModified(true);
      }

      preventWrite(e) {
        this.noWrite();
      }

      onKeyDown(e) {
        //console.log(e);
        if (this.isModified===undefined || this.isModified==false) {
          //if (e !== undefined && e != null)
          //  e.preventDefault();
          this.canWrite().then(
            (canWrite)=>{
              if (canWrite) {
                setTimeout(()=>{this.allowWrite(e)});
              }
              else {
                setTimeout(()=>{this.preventWrite(e)});
              }
            }
          );
          return false;          
        }
      }

      cancelled(e) {
        if (confirm(this.confirmDiscardChangesLabel(this.lang)+"?") !== true) {
          return;
        }
        this.setModified(false);
        setTimeout(()=>{this.displayGraph()});
      }

      canWrite() {

        const request = auth.fetch(this.aclUrl, {method: "HEAD"});
        return request.then(
          response => {
            if (response.ok == true) {

              var wac = response.headers.get('WAC-Allow');

              //i.e. "user="read write append control",public="""

              if (wac != null) {
                var userPerms = null;
                var userP = /\s*user\s*=\s*"(.*)"\s*,\s*public\s*=\s*".*"/.exec(wac);
                if (userP != null && userP.length === 2)
                  userPerms = userP[1].split(" ");
                var publicPerms = null;
                var publicP = /\s*user\s*=\s*".*"\s*,\s*public\s*=\s*"(.*)"/.exec(wac);
                if (publicP != null && publicP.length === 2)
                  publicPerms = publicP[1].split(" ");

                //console.log("userPerms= "+userPerms+", publicPerms= "+publicPerms);

                if (userPerms.indexOf("write") < 0) {
                  this.userNotification = this.noWritePermissionLabel(this.lang)+", webId= "+this.usersWebid;
                  return false;
                }
                else
                  return true;
              }

            }
            else {
              this.userNotification = this.cantGetWacAllowLabel(this.lang)+" "+response.statusText+", webId= "+this.usersWebid;
              return false;
            }
          },
          reason => {
            this.userNotification = this.cantGetWacAllowReasonLabel(this.lang)+" "+reason;
            return false;
          }
        );

      }

      onkeyup(e) {
        // apparently its necessary just to have this listener here to cause every key to get committed immediately to the string at this.$.text1.value
      }

      setModified(b) {
        if (b===true) {
          this.isModified = true;
          this.disableOtherCustomElements();
        }
        else {
          this.isModified = false;
          this.enableOtherCustomElements();
        }
      }

      save(e) {
        //console.log("save here");

        if (confirm(this.confirmOverwriteLabel(this.lang)+" "+this.aclUrl+" ?") !== true) {
          return;
        }

        //console.log("saving "+this.aclUrl+"...");

        try {
          var store = rdflib.graph();
          rdflib.parse(this.$.text1.value, store, this.aclUrl, "text/turtle");
        }
        catch(err) {
          if (alert(this.unableToSaveLabel(this.lang)+" "+this.aclUrl+", "+this.notValidTurtleLabel(this.lang)+": "+err));
          return;
        }

        this.aclAsString = this.$.text1.value;
        this.solidPut(this.aclUrl, this.aclAsString, "text/turtle").then(()=>{setTimeout(()=>{this.setModified(false)})});
      }

      getAcl(aclUrl) {
  
        return this.solidReq(aclUrl, {method: "GET"}, "read", 
            (str)=>{
              if (aclUrl.endsWith(".acl")) {
                var store = rdflib.graph();
                rdflib.parse(str, store, aclUrl, "text/turtle");
                this.aclGraph = store;
                this.userNotification = this.successfullyReadLabel(this.lang)+aclUrl+", webId= "+this.usersWebid;
                return {str, store};
              }
              this.userNotification = this.cantReadLabel(this.lang)+aclUrl+", webId= "+this.usersWebid;
              return null;
            },
            (err)=>{
              console.log(err);
              this.userNotification = this.cantReadLabel(this.lang)+aclUrl+this.becauseLabel(this.lang)+err+", webId= "+this.usersWebid;
            }
        );
      }

      connectedCallback() {
        super.connectedCallback();

        this.isModified = false;
      }

      saveLabel(lang) {
        return languages.getString(lang,"Save");
      }
      discardChangesLabel(lang) {
        return languages.getString(lang,"Discard changes");
      }
      noWritePermissionLabel(lang) {
        return languages.getString(lang,"No write permission");
      }
      cantGetWacAllowLabel(lang) {
        return languages.getString(lang,"can't get WAC-Allow header, because:");
      }
      cantGetWacAllowReasonLabel(lang) {
        return languages.getString(lang,"Can't get WAC-Allow, reason:");
      }
      confirmOverwriteLabel(lang) {
        return languages.getString(lang,"Are you sure you want to overwrite");
      }
      unableToSaveLabel(lang) {
        return languages.getString(lang,"Unable to save");
      }
      notValidTurtleLabel(lang) {
        return languages.getString(lang,"because its not valid turtle format");
      }
      cantGetAclUrlForLabel(lang) {
        return languages.getString(lang,"can't get ACL url for ");
      }
      cantGetAclUrlBecauseLabel(lang) {
        return languages.getString(lang,"can't get ACL url because ");
      }
      cantGetAclUrlReasonLabel(lang) {
        return languages.getString(lang,"can't get ACL url, reason: ");
      }
      successfullyReadLabel(lang) {
        return languages.getString(lang, "successfully read ");
      }
      cantReadLabel(lang) {
        return languages.getString(lang, "can't read ");
      }
      becauseLabel(lang) {
        return languages.getString(lang, " because: ");
      }
      confirmDiscardChangesLabel(lang) {
        return languages.getString(lang, "Are you sure you want to discard changes");
      }

     } // class PolymerSolidEditAclElement

    customElements.define(PolymerSolidEditAclElement.is, PolymerSolidEditAclElement);

  </script>

</dom-module>
