<!--
  PolymerSolidLanguageElement
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/debounce.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../properties-mixin/properties-mixin.html">

<dom-module id="polymer-solid-language-element">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <span style="display:flex;">
      <form name="languageForm" id="langForm">
        <p>{{displayLang(lang)}}</p>
        <template is="dom-repeat" items="{{langs}}" as="item">
          <input type="radio" name="index" checked="{{isChecked(item)}}" on-click="languageSelected">{{item.label}}</input>
        </template>
      </form>
    </span>


  </template>

  <script>
    'use strict'

    class PolymerSolidLanguageElement extends PropertiesMixin(Polymer.Element, 
        [{name: 'elementName', type: String, value: 'polymer-solid-language-element'},
        {name: 'usersWebid', type: String, value: '', notify: true},
        {name: 'solidServer', type: String, notify: true},
        {name: 'userNotification', type: String, value: '', notify: true},
        {name: 'lang', notify: true, type: String, value: 'en'},
        {name: 'mouseOverLang', notify: true, type: String, value: 'zh'},
        {name: 'langs', type: Array, value: languages.getLanguages()}]) {

      static get is() { return 'polymer-solid-language-element' }

      
      languageSelected(e) {
        if (e.model.item.val === this.langs[0].val) {
          this.lang = this.langs[0].val;
          this.mouseOverLang = this.langs[1].val;
        }
        else {
          this.lang = this.langs[1].val;
          this.mouseOverLang = this.langs[0].val;
        }
      }

      displayLang(lang) {
        return languages.getString(lang,"Display language");
      }

      isChecked(item) {
        if (item.val===this.lang)
          return true;
        else
          return false;
      }


      connectedCallback() {

        super.connectedCallback();

      }

    } // class PolymerSolidLanguageElement

    customElements.define(PolymerSolidLanguageElement.is, PolymerSolidLanguageElement);

  </script>

</dom-module>
