<!--
  PolymerSolidEditRdfGraphElement
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../properties-mixin/properties-mixin.html">

<dom-module id="polymer-solid-edit-rdf-graph-element">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--h4>[[elementName]]</h4-->
    <!--label style="vertical-align:top">Rdf graph:</label-->
    <!--textarea cols=150 rows=10 value="[[graphAsString]]"></textarea-->
    <textarea id="text1" style="width:100%;height:30vh" value="{{graphAsString}}" on-keydown="onKeyDown"></textarea>
    <div id="discardSaveCancelButtons" style="display:inline" hidden$="{{!isModified}}">
      <button on-click="cancelled" hidden$="{{!isModified}}">{{discardChangesLabel(lang)}}</button>
      <button on-click="save" hidden$="{{!isModified}}">{{saveLabel(lang)}}</button>
      <button on-click="toggleSaving" hidden$="{{!isModified}}">{{saveAsLabel(lang)}}</button>
    </div>

    <div style="position:absolute;left:5%;top:20%;width:90%;background:lightskyblue;border:1px solid black;" id="saveAsDiag" hidden$="{{!saving}}">
      <div style="display:block;margin-left:5%;margin-bottom:5%;margin-right:5%">
        <p>{{saveAsLabel(lang)}}</p>
        <textarea style="width:90%" id="saveNameText"></textarea>
        <div style="margin-bottom:5%;margin-right:10%;float:right">
          <button id="saveAsButton" type="button" on-click="saveAs">{{saveLabel(lang)}}</button>
          <button id="cancelButton" type="button" on-click="toggleSaving">{{cancelLabel(lang)}}</button>
        </div>
      </div>
    </div>

  </template>

  <script>
    'use strict'

    class PolymerSolidEditRdfGraphElement extends PropertiesMixin(Polymer.Element, 
        [{name: 'elementName', type: String, value: 'polymer-solid-edit-rdf-graph-element'},
        {name: 'usersWebid', type: String, value: '', notify: true},
        {name: 'rdfGraph', type: null, notify: true, value: null, observer: 'displayGraph'},
        {name: 'currentPath', type: String, notify: true, value: ''},
        {name: 'guardedPath', type: String, notify: true, value: ''},
        {name: 'pathHistory', type: null, notify: true, value: null},
        {name: 'baseName', type: String, notify: true, value: '',observer: 'displayGraph'},
        {name: 'graphAsString', type: String, notify: true, value: '',observer: 'displayGraph'},
        {name: 'solidServer', type: String, notify: true},
        {name: 'lang', notify: true, type: String, value: 'en'},
        {name: 'userNotification', type: String, notify: true}]) {

      static get is() { return 'polymer-solid-edit-rdf-graph-element' }

      static get observers() {
        return [
          'displayGraph(rdfGraph.*, baseName, graphAsString)'
        ];
      }

      displayGraph(rdfGraphChangeRecord, baseName, graphAsString) {
//        this.debounce(()=> {

          if (this.rdfGraph !== null) {

//console.log(" ** in polymer-solid-edit-rdf-graph-element ** --> this.currentPath= "+this.currentPath);

            var that = this;
            //var mimeType = "text/turtle";
            //if (this.currentPath.endsWith(".rdf")) {
            //  mimeType = "application/rdf+xml";
            //}

            var mimeType = this.getMimeType(this.currentPath);
            rdflib.serialize(rdflib.sym(this.currentPath), this.rdfGraph, this.currentPath, mimeType, function(err, str) {

                if (err !== undefined && err != null) {
                  console.log(err);
                }

                if (str === undefined || str == null)
                  return;

                // unescape utf-16 to display chinese etc.
                var r = /\\u([\d\w]{4})/gi;
                str = str.replace(r, function (match, grp) {
                    return String.fromCharCode(parseInt(grp, 16)); } );

                that.graphAsString = str;
                that.$.text1.value = that.graphAsString;
                
            });
          }
          else {
            this.$.text1.value = this.graphAsString;
          }
          setTimeout(()=>{          
            this.canWrite().then(
              (canWrite)=>{
                if (canWrite) {
                  setTimeout(()=>{this.okWrite()});
                }
                else {
                  setTimeout(()=>{this.preventWrite()});
                }
            });
          });
//        });
      }

      toggleSaving(e) {
        if (this.saving === undefined || this.saving === false) {
          this.saving = true;
          this.disableInput([this.$.saveAsDiag]);
        }
        else {
          this.saving = false;
          this.enableInput();
        }
      }

      validateName(containingUrl, name) {

        if (containingUrl === undefined || containingUrl == null)
          return false;

        this.saveAsUrl = (containingUrl.endsWith("/")?containingUrl:containingUrl+"/")+name;

        if (this.saveAsUrl.startsWith(this.solidServer)) {
          var r = this.saveAsUrl.split(this.solidServer)[1];
          if (r==="/" || r==="") {
            return false;
          }            
        }

        if (name==="")
          return false;

        if (name.indexOf("\\") >= 0) {
          return false;          
        }
        if (this.guardedPath.startsWith(this.saveAsUrl))
          return false;

      }

      getPathHistoryFromUrl(url) {
        if (url===undefined || url ==null)
          return [];
        else {
          var urlWithoutServer = url;
          if (urlWithoutServer.startsWith(this.solidServer)) {
            urlWithoutServer = urlWithoutServer.split(this.solidServer)[1];
          }
          if (urlWithoutServer.startsWith("/"))
            urlWithoutServer = urlWithoutServer.slice(1);
          var pathHistory = urlWithoutServer.split("/");
          // leave off current resource
          pathHistory = pathHistory.slice(0,pathHistory.length-1);
          for (var i=0; i<pathHistory.length; i++)
            pathHistory[i] += "/";
          return pathHistory;
        }
      }

      saveAs(e) {

        var saveNameTextArea = this.$.saveNameText;

        var containingUrl = this.currentPath.substring(0,this.currentPath.indexOf(this.basename(this.currentPath)));
       
        var name = saveNameTextArea.value.trim();

        // validateName sets saveAsUrl
        if (this.validateName(containingUrl, name)) {
          alert(this.invalidNameLabel(this.lang)+": "+name);
          this.toggleSaving(e);
          this.$.saveNameText.value = "";
          return;          
        }

        const request = auth.fetch(this.saveAsUrl, {method: "HEAD"});

        request.then(
          response => {
            if (response.ok == true) {

              var wac = response.headers.get('WAC-Allow');

              //i.e. "user="read write append control",public="""

              if (wac != null) {
                var userPerms = null;
                var userP = /\s*user\s*=\s*"(.*)"\s*,\s*public\s*=\s*".*"/.exec(wac);
                if (userP != null && userP.length === 2)
                  userPerms = userP[1].split(" ");
                var publicPerms = null;
                var publicP = /\s*user\s*=\s*".*"\s*,\s*public\s*=\s*"(.*)"/.exec(wac);
                if (publicP != null && publicP.length === 2)
                  publicPerms = publicP[1].split(" ");

                //console.log("userPerms= "+userPerms+", publicPerms= "+publicPerms);

                if (userPerms.indexOf("write") < 0) {
                  alert(this.noWritePermissionLabel(this.lang)+": "+this.saveAsUrl);
                  this.toggleSaving(null);
                  this.$.saveNameText.value = "";
                  this.userNotification = this.noWritePermissionLabel(this.lang)+", webId= "+this.usersWebid;
                  return;
                }
                else {
                  // confirm overwrite;
                  if (confirm(this.confirmOverwriteLabel(this.lang)+this.saveAsUrl+" ?") !== true) {
                    this.toggleSaving(null);
                    this.$.saveNameText.value = "";
                    return;
                  }

                  this.saveRes();
                }
              }
              else {
                alert(this.cantGetWacAllowLabel(this.lang));
                this.toggleSaving(null);
                this.$.saveNameText.value = "";
                this.userNotification = this.cantGetWacAllowLabel(this.lang);
                return;
              }

            }
            else {
              // create new resource, solid server will create path if it doesn't exist
              //console.log("Creating new resource "+this.saveAsUrl+" here");

              if (confirm(this.confirmSaveAsLabel(this.lang)+" "+this.saveAsUrl+" ?") !== true) {
                return;
              }
              this.saveRes();
            }
          },
          reason => {
            alert(this.cantGetWacAllowReasonLabel(this.lang)+": "+reason);
            this.toggleSaving(null);
            this.$.saveNameText.value = "";
            this.userNotification = this.cantGetWacAllowReasonLabel(this.lang)+" "+reason;
            return;
          }
        );

      }

      saveRes() {

        var mimeType = this.getMimeType(this.saveUrl);

        try {
          var store = rdflib.graph();
          rdflib.parse(this.$.text1.value, store, this.saveAsUrl, mimeType);

          var cntnrStmnts = store.statementsMatching(undefined,RDF("type"), LDP("BasicContainer"));
          for (var i=0; cntnrStmnts !== undefined && cntnrStmnts !== null && i<cntnrStmnts.length; i++) {
            if (cntnrStmnts[i].subject.uri === this.saveAsUrl) {

              alert(this.unableToSaveLabel(this.lang)+" "+this.saveAsUrl+", "+this.cantCreateContainerWithSaveAsLabel(this.lang));
              this.toggleSaving(null);
              this.$.saveNameText.value = "";
              return;
            }
          }
        }
        catch(err) {
          if (alert(this.unableToSaveLabel(this.lang)+" "+this.saveAsUrl+", "+this.notValidFormatLabel(mimeType,this.lang)+": "+err));
          return;
        }

        this.graphAsString = this.$.text1.value;
        this.solidPut(this.saveAsUrl, this.graphAsString, mimeType).then(()=>{
                                                                          this.baseName = this.basename(this.saveAsUrl);
                                                                          if (this.baseName.endsWith("/"))
                                                                            this.baseName = "";
                                                                          this.currentPath = this.saveAsUrl;
                                                                          this.pathHistory = this.getPathHistoryFromUrl(this.saveAsUrl);
                                                                          setTimeout(()=>{this.setModified(false)});
                                                                         });

        this.toggleSaving(null);
        this.$.saveNameText.value = "";
        return;
      }


      noWrite() {
        var txta = this.$.text1;
        if (txta !== undefined && txta != null) {
          txta.setAttribute("readonly",true);
        }
        this.setModified(false);
      }

      okWrite() {
        var txta = this.$.text1;
        if (txta !== undefined && txta != null) {
          txta.removeAttribute("readonly");
          txta.removeAttribute("disabled");
        }
      }

      allowWrite(e) {
        this.okWrite();
        this.setModified(true);
      }

      setModified(b) {
        if (b===true) {
          this.isModified = true;
          this.disableOtherCustomElements();
        }
        else {
          this.isModified = false;
          this.enableOtherCustomElements();
        }
      }

      preventWrite(e) {
        this.noWrite();
      }

      onKeyDown(e) {
        //console.log(e);
        if (this.isModified===undefined || this.isModified==false) {
          //if (e !== undefined && e != null)
          //  e.preventDefault();
          this.canWrite().then(
            (canWrite)=>{
              if (canWrite) {
                setTimeout(()=>{this.allowWrite(e)});
              }
              else {
                setTimeout(()=>{this.preventWrite(e)});
              }
            }
          );
          return false;          
        }
      }

      cancelled(e) {

        if (confirm(this.confirmDiscardChangesLabel(this.lang)+"?") !== true) {
          return;
        }
        this.setModified(false);
        setTimeout(()=>{this.displayGraph()});
      }

      canWrite() {

        const request = auth.fetch(this.currentPath, {method: "HEAD"});
        return request.then(
          response => {
            if (response.ok == true) {

              if (this.currentPath.startsWith(this.solidServer)) {
                var r = this.currentPath.split(this.solidServer)[1];
                if (r==="/" || r==="") {
                  this.userNotification = this.cantEditContainerLabel(this.lang)+", webId= "+this.usersWebid;
                  return false;
                }            
              }

              var wac = response.headers.get('WAC-Allow');

              //i.e. "user="read write append control",public="""

              if (wac != null) {
                var userPerms = null;
                var userP = /\s*user\s*=\s*"(.*)"\s*,\s*public\s*=\s*".*"/.exec(wac);
                if (userP != null && userP.length === 2)
                  userPerms = userP[1].split(" ");
                var publicPerms = null;
                var publicP = /\s*user\s*=\s*".*"\s*,\s*public\s*=\s*"(.*)"/.exec(wac);
                if (publicP != null && publicP.length === 2)
                  publicPerms = publicP[1].split(" ");

                //console.log("userPerms= "+userPerms+", publicPerms= "+publicPerms);

                if (userPerms.indexOf("write") < 0) {
                  this.userNotification = this.noWritePermissionLabel(this.lang)+", webId= "+this.usersWebid;
                  return false;
                }
                else
                  return true;
              }

            }
            else {
              this.userNotification = this.cantGetWacAllowLabel(this.lang)+" "+response.statusText+", webId= "+this.usersWebid;
              return false;
            }
          },
          reason => {
            this.userNotification = this.cantGetWacAllowReasonLabel(this.lang)+" "+reason;
            return false;
          }
        );

      }

      onkeyup(e) {
        // apparently its necessary just to have this listener here to cause every key to get committed immediately to the string at this.$.text1.value
      }

      save(e) {
        if (confirm(this.confirmOverwriteLabel(this.lang)+" "+this.currentPath+" ?") !== true) {
          return;
        }

        var mimeType = this.getMimeType(this.currentPath);

        if (mimeType !== "text") {
          try {
            var store = rdflib.graph();
            rdflib.parse(this.$.text1.value, store, this.currentPath, mimeType);
          }
          catch(err) {
            if (alert(this.unableToSaveLabel(this.lang)+" "+this.currentPath+", "+this.notValidFormatLabel(mimeType,this.lang)+": "+err));
            return;
          }
        }
        this.solidPut(this.currentPath, this.$.text1.value, mimeType).then(()=>{
            setTimeout(()=>{
              this.graphAsString = this.$.text1.value;
              this.setModified(false);
              this.userNotification = this.successfullySavedLabel(this.lang)+this.currentPath+", webId= "+this.usersWebid;
            });
          });

      }

      connectedCallback() {
        super.connectedCallback();

        this.isModified = false;
        this.saving = false;
      }

      saveAsLabel(lang) {
        return languages.getString(lang,"Save as");
      }
      cancelLabel(lang) {
        return languages.getString(lang,"Cancel");
      }
      saveLabel(lang) {
        return languages.getString(lang,"Save");
      }
      discardChangesLabel(lang) {
        return languages.getString(lang,"Discard changes");
      }
      cantEditContainerLabel(lang) {
        return languages.getString(lang,"Can't edit container metadata");
      }
      cantCreateContainerWithSaveAsLabel(lang) {
        return languages.getString(lang,"Sorry, but right now you can't create container with 'save as'");
      }
      noWritePermissionLabel(lang) {
        return languages.getString(lang,"No write permission");
      }
      cantGetWacAllowLabel(lang) {
        return languages.getString(lang,"can't get WAC-Allow header, because:");
      }
      cantGetWacAllowReasonLabel(lang) {
        return languages.getString(lang,"Can't get WAC-Allow, reason:");
      }
      confirmOverwriteLabel(lang) {
        return languages.getString(lang,"Are you sure you want to overwrite");
      }
      unableToSaveLabel(lang) {
        return languages.getString(lang,"Unable to save");
      }
      notValidTurtleLabel(lang) {
        return languages.getString(lang,"because its not valid turtle format");
      }
      notValidRdfLabel(lang) {
        return languages.getString(lang,"because its not valid RDF format");
      }
      notValidFormatLabel(mimeType,lang) {
        return languages.getString(lang,"because it's not valid")+" "+mimeType+" "+languages.getString(lang,"format");
      }
      createInCurrentDirOnlyLabel(lang) {
        return languages.getString(lang, "Sorry, but right now you must create containers/resources only in the current container.");
      }
      backslashNotPermittedLabel(lang) {
        return languages.getString(lang, "Sorry, but right now '\\' is not permitted in container or resource names.");
      }
      confirmSaveAsLabel(lang) {
        return languages.getString(lang, "Are you sure you want to save as ");
      }
      confirmDiscardChangesLabel(lang) {
        return languages.getString(lang, "Are you sure you want to discard changes");
      }
      invalidNameLabel(lang) {
        return languages.getString(lang, "Invalid resource name");
      }
      successfullySavedLabel(lang) {
        return languages.getString(lang, "successfully saved ");
      }

     } // class PolymerSolidEditRdfGraphElement

    customElements.define(PolymerSolidEditRdfGraphElement.is, PolymerSolidEditRdfGraphElement);

  </script>

</dom-module>
