<!--
  PolymerSolidUseContainerElement

  // TODO: other polymer-solid elements should be refactored to use this if it makes them simpler
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/debounce.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../properties-mixin/properties-mixin.html">

<link rel="import" href="../polymer-solid-resource-headers-element/polymer-solid-resource-headers-element.html">
<link rel="import" href="../polymer-solid-create-resource-element/polymer-solid-create-resource-element.html">


<dom-module id="polymer-solid-use-container-element">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
 
    <polymer-solid-resource-headers-element
      hidden$="true"
      path={{suggestedContainer}}
      when-finished={{resourceHeadersFinished}}
      headers={{existingContainerHeaders}}
      writeable={{existingContainerWriteable}}
      exists={{containerExists}}
      return-value={{existingContainerRetVal}}
      users-webid={{webId}}
      user-notification={{notification}}
      solid-server={{solidServer}}
      lang={{lang}}>
    </polymer-solid-resource-headers-element>

    <polymer-solid-create-resource-element
      hidden$="true"
      suggested-path={{container}}
      when-finished={{createResourceFinished}}
      base-name={{baseName}}
      path-history={{pathHistory}}
      current-path={{currentPath}}
      is-container=true
      return-value={{containerCreateRetVal}}
      users-webid={{webId}}
      user-notification={{notification}}
      solid-server={{solidServer}}
      lang={{lang}}>
    </polymer-solid-create-resource-element>

    <div style="position:absolute;left:5%;top:20%;width:90%;background:lightskyblue;border:1px solid black;" id="createContainerDialog" hidden$="{{!showCreateContainerDialog}}">
      <div style="display:block;margin-left:5%;margin-bottom:5%;margin-right:5%">
        <p>{{pleaseCreateContainerLabel(lang)}}</p>
        <textarea style="width:90%" id="containerNameText" value="{{containerName}}"></textarea>
        <div style="margin-bottom:5%;margin-right:10%;float:right">
          <button id="containerCreate" type="button" on-click="createContainer">{{createLabel(lang)}}</button>
          <button id="containerCancel" type="button" on-click="toggleShowCreateContainerDialog">{{cancelLabel(lang)}}</button>
        </div>
      </div>
    </div>

    <div style="position:absolute;left:5%;top:20%;width:90%;background:lightskyblue;border:1px solid black;" id="cannotCreateContainerDialog" hidden$="{{!showCannotCreateContainerDialog}}">
      <div style="display:block;margin-left:5%;margin-bottom:5%;margin-right:5%">
        <p>{{cannotCreateReason}}</p>
        <div style="margin-bottom:5%;margin-right:10%;float:right">
          <button id="cannotCreateContainerOk" type="button" on-click="toggleShowCannotCreateContainerDialog">{{okLabel(lang)}}</button>
        </div>
      </div>
    </div>

  </template>

  <script>
    'use strict'

    class PolymerSolidUseContainerElement extends PropertiesMixin(Polymer.Element, 
        [{name: 'elementName', type: String, value: 'polymer-solid-use-container-element'},
        {name: 'suggestedPath', type: String, value: undefined, notify: true, observer: 'triggered'},
        {name: 'whenFinished', type: null, value: undefined, notify: true},
        {name: 'baseName', type: String, notify: true, value: undefined},
        {name: 'pathHistory', type: null, notify: true, value: undefined},
        {name: 'currentPath', type: String, notify: true, value: ''},
        {name: 'isContainer', type: Boolean, value: false},
        {name: 'returnValue', type: null, value: undefined, notify: true},
        {name: 'usersWebid', type: String, value: '', notify: true},
        {name: 'solidServer', type: String, notify: true},
        {name: 'userNotification', type: String, value: '', notify: true},
        {name: 'lang', notify: true, type: String, value: 'en'}]) {

      static get is() { return 'polymer-solid-use-container-element' }

      
      triggered() {
        if (this.suggestedPath !== undefined && this.suggestedPath !== null && this.suggestedPath !== "")
          this.getContainer();
      }

      getContainer() {
        setTimeout(()=>{
          this.$.containerNameText.value = this.suggestedPath;
          this.showCreateContainerDialog = true;
        });
        
      }

      validateContainerName(containerName) {
        if (containerName.indexOf("http") !== -1)
          return false;
        if (containerName.indexOf("//") !== -1)
          return false;
        if (containerName.indexOf(":") !== -1)
          return false;
        if (containerName.indexOf("..") !== -1)
          return false;
        return true;
      }

      createContainer() {
        var containerNameTextArea = this.$.containerNameText;
        var containerName = containerNameTextArea.value.trim();

        if (this.validateContainerName(containerName)) {
          this.suggestedContainer = (containerName.startsWith("/")? containerName : ("/"+containerName));
        }
        else {
          this.cannotCreateReason = this.invalidContainerOrResourceNameLabel(this.lang);
          setTimeout(()=>{this.showCannotCreateContainerDialog = true;});
        }
        setTimeout(()=>{this.showCreateContainerDialog = false;});
      }

      toggleShowCreateContainerDialog() {
        this.showCreateContainerDialog = !this.showCreateContainerDialog;
      }

      toggleShowCannotCreateContainerDialog() {
        this.showCannotCreateContainerDialog = !this.showCannotCreateContainerDialog;
        if (this.showCannotCreateContainerDialog===false) {
          setTimeout(()=>{this.showCreateContainerDialog = true;});
        }
      }

      pleaseCreateContainerLabel(lang) {
        return languages.getString(lang,"Please enter the path to your container");
      }

      resourceAlreadyExistsLabel(lang) {
        return languages.getString(lang,"The resource already exists");
      }

      confirmCreateLabel(lang) {
        return languages.getString(lang, "Do you want to create ");
      }

      createLabel(lang) {
        return languages.getString(lang,"Create");
      }

      cancelLabel(lang) {
        return languages.getString(lang,"Cancel");
      }

      okLabel(lang) {
        return languages.getString(lang,"Ok");
      }

      invalidContainerOrResourceNameLabel(lang) {
        return languages.getString(lang, "Sorry, but this is an invalid container or resource name.");
      }

      connectedCallback() {

        super.connectedCallback();

        this.showCreateContainerDialog = false;
        this.showCannotCreateContainerDialog = false;
        this.container = undefined;

        this.resourceHeadersFinished = ()=>{
          if (this.existingContainerRetVal == "success") {
            if (this.containerExists == false) {
              this.container = this.solidServer + (this.suggestedContainer.startsWith("/")? this.suggestedContainer : ("/"+this.suggestedContainer));
            }
            else {
              this.cannotCreateReason = this.resourceAlreadyExistsLabel(this.lang);
              this.toggleShowCannotCreateContainerDialog();
            }
          }
          else {
            this.cannotCreateReason = this.existingContainerRetVal;
            this.toggleShowCannotCreateContainerDialog();
          }
        }

        this.createResourceFinished = ()=>{
          if (this.containerCreateRetVal == "success") {
            this.returnValue = "success";
            this.whenFinished();
          }
          else {
            this.cannotCreateReason = this.containerCreateRetVal;
            this.toggleShowCannotCreateContainerDialog();
          }
        }

      }

    } // class PolymerSolidUseContainerElement

    customElements.define(PolymerSolidUseContainerElement.is, PolymerSolidUseContainerElement);

  </script>

</dom-module>
